// Do not make any changes in this file
// If you must change anything in this file please contact Patryk Górski

body {
  background: $color-background-body;
  color: $color-text;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: $font-size-m;
  font-weight: 400;
  line-height: 1.5;
  min-width: 1000px;
  overflow-y: hidden;
}

::selection {
  background: $color-accent;
  color: $color-text-white;
}

b {
  font-weight: 700;
}
