html {
  scroll-behavior: smooth;
}

body {
  &,
  & * {
    &::-webkit-scrollbar-track {
      border-radius: 0;
    }

    &::-webkit-scrollbar {
      width: calculate-8-pt-grid(1);
      height: calculate-8-pt-grid(1);
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: calculate-8-pt-grid(2);
      background: rgba(0, 0, 0, .22);

      &:hover {
        background-color: rgba(0, 0, 0, .32);
      }
    }
  }
}
