<mat-table [dataSource]="dataSource" matSort
           class="interactive-table mat-table--main-content">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span [translate]="translateTablePrefix + 'id'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ translatePrefix + 'prefix' | translate:{value: element.id} }}
    </mat-cell>
  </ng-container>

  <!-- AI Solution Column -->
  <ng-container matColumnDef="aiSolution">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span [translate]="translateTablePrefix + 'solution'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <app-ai-solution *ngIf="element.aiSolution !== null"
                       [aiSolution]="element.aiSolution"></app-ai-solution>
      <span *ngIf="element.aiSolution === null"
            class="secondary-text"
            [translate]="'aiSolutions.unchanged'"></span>
    </mat-cell>
  </ng-container>

  <!-- AI Status Column -->
  <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span [translate]="translateTablePrefix + 'status'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <app-element-status *ngIf="element.active !== null"
                          [elementStatus]="element.active"></app-element-status>
      <span *ngIf="element.active === null"
            class="secondary-text"
            [translate]="'aiStatus.unchanged'"></span>
    </mat-cell>
  </ng-container>

  <!-- Request Date Column -->
  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span [translate]="translateTablePrefix + 'requestDate'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.createdAt | date:dateFormatting }}
    </mat-cell>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="createdBy">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span [translate]="translateTablePrefix + 'author'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.createdBy}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
          *matRowDef="let row;
      columns: displayedColumns;"
          class="interactive-table__row"
          [class.interactive-table__row--active]="highlightRow == row.id"
          (click)="selectRow(row)"></mat-row>
</mat-table>
