<h1 class="mat-dialog-title">{{ data.title | translate }}</h1>
<div mat-dialog-content>
  <p class="mat-body">{{data.description | translate:{descriptionValue: data.value} }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button
          color="primary"
          (click)="onCancelClick()">{{data.buttonClose | translate }}</button>
  <button *ngIf="data.buttonCta"
          mat-flat-button
          color="primary"
          (click)="onSubmitClick()">{{data.buttonCta | translate }}</button>
</div>
