<div class="page-module">
  <section class="module section-page">
    <div class="module-header">
      <h2 class="module-title"
          [translate]="'alert.infobox.alert.title'"></h2>
      <div class="module-options">
      </div>
    </div>
    <perfect-scrollbar class="module-content">

      <div class="element-details-row" *ngFor="let partyField of partyFields">
        <div class="element-details-row-label">
          <p>{{ partyField.name }}</p>
        </div>
        <div class="element-details-row-value">
          <ng-container *ngIf="partyField.value">
          {{ partyField.value }}
          </ng-container>
          <app-empty-state *ngIf="!partyField.value"
                           [label]="'alert.infobox.alert.emptyState'"></app-empty-state>
        </div>
      </div>
    </perfect-scrollbar>
  </section>
</div>
