@import 'variables';

.list-table {
  border-collapse: collapse;
  width: 100%;

  tr {
    border-bottom: 1px solid #dbdde1;
    width: 100%;

    &:last-child {
      border-bottom: 0;
    }
  }

  td {
    padding: 13px 34px;

    &:first-child {
      @extend %text-particular;
      padding-right: $space-l;
      vertical-align: top;
      white-space: nowrap;
      font-weight: 700;
    }

    &:last-child {
      @extend %text-primary;
      word-break: break-word;

      ul {
        list-style-type: none;
      }
    }

    .empty {
      color: $color-text-light;
    }
  }
}
