<table class="list-table" width="100%">
  <tr *ngFor="let entry of entries" width="100%">
    <td class="column-label">{{ entry.name | translateOrFriendlyValue | async }}</td>
    <td *ngIf="tableHelper.isEmptyValue(entry.value)">
      <span class="empty" [translate]="'placeholders.emptyValue'"></span>
    </td>
    <td *ngIf="tableHelper.hasManyValues(entry.value)">
      <ul>
        <li *ngFor="let singleValue of entry.value">{{ singleValue }}</li>
      </ul>
    </td>
    <td *ngIf="tableHelper.hasOneValue(entry.value)" >{{ entry.value  | translateOrFriendlyValue | async }}</td>
  </tr>
</table>

