@import 'variables';
@import 'mixins';

:host {
  position: relative;
}

$main-nav-row-height: 21px;

.reports {
  @include transition(all, $transition-fast, ease-in-out);
  background: $color-background-element;
  border-radius: 9px;
  box-shadow: 0 0 20px 0 $color-shadow-black;
  left: 50%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 29px;
  transform: translate(-50%) scale(.8);
  visibility: hidden;
  width: 180px;
  z-index: 1;

  &.is-active {
    opacity: 1;
    transform: translate(-50%) scale(1);
    visibility: visible;
  }

  ul {
    display: block;
    list-style-type: none;
  }

  li {
    cursor: pointer;
    text-align: center;

    a {
      color: $color-text;
      display: flex;
      font-weight: 700;
      justify-content: space-between;
      line-height: $main-nav-row-height;
      outline: none;
      padding: 10px 16px;
      text-decoration: none;

      &:hover,
      &:focus {
        background: $color-element-hover-background;
        color: $color-action;
      }
    }
  }
}


