apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: {{ include "sear.fullname" . }}-rabbitmq
  labels:
    app.kubernetes.io/component: rabbitmq
    {{- include "sear.labels" . | nindent 4 }}
  {{- with .Values.rabbitmq.annotations }}
  annotations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
spec:
{{- with .Values.rabbitmq }}
  replicas: {{ .replicas }}
  {{- if .resources }}
  resources:
    {{- toYaml .resources | nindent 4 }}
  {{- end }}
  {{- with .persistence }}
  persistence:
    {{- if .storageClassName }}
    storageClassName: {{ .storageClassName | quote }}
    {{- end }}
    {{- if .storage }}
    storage: {{ .storage | quote }}
    {{- end }}
  {{- end }}
  {{- with .affinity }}
  affinity:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  {{- with .tolerations }}
  tolerations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
{{- end }}
