@import '_old-main';
@import '_old/future-component/tooltip';

.load-branch {
  display: flex;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  & > * {
    margin-right: 24px;

    &:first-child {
      flex: 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
