<div class="load-branch">
  <div class="tooltip save-changes-button">
      <span class="all-time one-line"
            [class.all-time-visible]="!validInput">
        <p [translate]="'branch.load.input.tooltip.incorrectValue'"></p>
      </span>
    <input class="input-field load-branch-search"
           placeholder="{{ 'branch.load.input.placeholder' | translate }}"
           #rbID
           [class.error]="!validInput"
           (focusout)="validateInput(fullIdCheck)"
           [(ngModel)]="enteredID"
           (ngModelChange)="validateInput(basicIdVerification)">
  </div>
  <div>
    <div class="tooltip save-changes-button">
      <span class="tooltip-bottom one-line"
            *ngIf="!enteredID">
        <p [translate]="'branch.load.button.tooltip.emptyInput'"></p>
      </span>
      <button class="button-outline"
              [translate]="'branch.load.button.label'"
              [disabled]="!enteredID || !validInput"
              (click)="onLoadBranchClicked()">
      </button>
    </div>
  </div>
</div>
