@import '_old/variables';
@import '_old/components/element-details-row';

.element-details-row-label {
  width: 120px;
}

.element-details-row-value {
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}

.review-status-button {
  position: absolute;
  right: $space-l;
  top: 50%;
  transform: translateY(-50%);
}

.module-content {
  height: 322px;
}
