@import 'src/styles/abstracts/8-pt-grid';

.brand-hero {
  line-height: 32px;

  a {
    display: flex;
    text-decoration: none;

  }

  &__logo {
    height: calculate-8-pt-grid(4);
    vertical-align:middle;
  }

  &__title {
    vertical-align:middle;
    margin: 0 0 0 calculate-8-pt-grid(2);
    color: rgba(0,0,0,.87);
  }
}
