@import '_old/variables';
@import '_old/future-component/tooltip';

.activated-dg-list {
  list-style-type: none;

  li {
    display: inline-block;
    margin-right: $space-s;
  }
}

.tooltip-bt-list {
  padding: $space-s;
  width: 180px;

  .tooltip-bt-list-no-limited {
    li {
      &:last-child {
        border-bottom: 0px;
      }
    }
  }

  li {
    font-weight: 400;
    padding: $space-s 0;

    &:last-child {
      border-bottom: $border-separator;
    }

    &:first-child {
      border-top: 0;
    }

    .bt-name {
      text-align: center;
      font-weight: 400;
    }
  }

  .bt-list-limit {
    padding-top: $space-m;
  }
}
