<div class="rb-notification" *ngIf="notification" [hidden]="notification.solved">
  <div class="header">
    <h2 class="title" [translate]="'reasoningBranch.notification.rbDisabled.title'"></h2>
    <button class="button-outline"
            *ngIf="hasInboxAuthorities"
            [translate]="'reasoningBranch.notification.rbDisabled.button'"
            (click)="markAsSolved()"></button>
  </div>
  <div class="content">
    <section class="section description">
      <section class="reason">
        <label class="label"
               [translate]="'reasoningBranch.notification.rbDisabled.reason.label'"></label>
        <p [translate]="notification.messageKey"
           [translateParams]="{ value: notification.aiDecision }"></p>
      </section>
      <section class="date">
        <label class="label" [translate]="'reasoningBranch.notification.rbDisabled.date'"></label>
        <p>
          {{ notification.date }}
        </p>
      </section>
    </section>
    <section class="section">
      <label class="label" [translate]="'reasoningBranch.notification.rbDisabled.alerts'"></label>
      <ul [class.columns]="notification.alertInfos.length > 7">
        <li *ngFor="let alertInfo of notification.alertInfos">
          <a class="link" routerLink="{{alertInfo.link.url}}">{{ alertInfo.link.name }}</a>
          ({{ alertInfo.analystDecision }})
        </li>
      </ul>
    </section>
  </div>
</div>
