@import 'variables';
@import 'mixins';

.rb-notification {
  @include transition(all, $transition-slow, ease-in-out);
  background: $color-feedback-error-background;
  border: 4px solid $color-feedback-error-background;
  border-radius: $border-radius-page-element;
  margin-bottom: $space-xxl;
  margin-top: $space-xl;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    line-height: 36px;
    padding: $space-l;

    .title {
      color: $color-text-white;
      font-size: $font-size-l;
    }

    button {
      background: transparent;
      border-color: $color-background-body;
      color: $color-text-white;
      height: 36px;
      padding: 0 $space-m;

      &:hover,
      &:focus {
        background: $color-background-body;
        box-shadow: $shadow-layer-1;
        color: $color-feedback-error-background;
      }
    }
  }

  .content {
    background: $color-background-body;
    overflow: hidden;
    padding: $space-l;

    .section {
      margin-bottom: $space-l;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .reason {
        flex: 1;
        padding-right: $space-l;
      }

      .date {
        flex: 1;
      }
    }

    .label {
      color: $color-label;
      display: block;
      font-size: $font-size-m;
      font-weight: 700;
      margin-bottom: $space-s;
    }

    ul {
      display: block;
      list-style-type: none;

      &.columns {
        column-count: 2;
        column-gap: $space-l;
      }

      li {
        margin-bottom: $space-xxs;
      }
    }
  }
}
