<section class="modal-content-section modal-content-section-divided modal-content-section-first" *ngIf="passwordControl">
  <div class="modal-content-section-label">
    <label class="required"
           for="{{optionId}}-password"
           [translate]="'user-management.userProfile.labels.password'"></label>
  </div>
  <div class="modal-content-section-content">
    <div>
      <input id="{{optionId}}-password" class="input-field" type="password"
             [class.error]="shouldDisplayErrors(passwordControl)"
             [formControl]="passwordControl"
             placeholder="{{ 'user-management.userProfile.inputPlaceholder.password' | translate }}"
             maxlength="64">
      <app-input-description [inputDescription]="'user-management.userProfile.inputDescripions.password'"></app-input-description>
      <app-input-feedback
              *ngIf="shouldDisplayErrors(passwordControl)"
              [feedbackErrors]="getErrors('user-management.userProfile.validationError.password', passwordControl)">
      </app-input-feedback>
    </div>
  </div>
</section>

<section class="modal-content-section modal-content-section-divided modal-content-section-first" *ngIf="repeatPasswordControl">
  <div class="modal-content-section-label">
    <label class="required"
           for="{{optionId}}-repeatPassword"
           [translate]="'user-management.userProfile.labels.repeatPassword'"></label>
  </div>
  <div class="modal-content-section-content">
    <div>
      <div>
        <input id="{{optionId}}-repeatPassword" class="input-field" type="password"
               [class.error]="shouldDisplayErrors(repeatPasswordControl)"
               [formControl]="repeatPasswordControl" placeholder="{{ 'user-management.userProfile.inputPlaceholder.password' | translate }}"
               maxlength="64">
        <app-input-feedback
                *ngIf="shouldDisplayErrors(repeatPasswordControl)"
                [feedbackErrors]="getErrors('user-management.userProfile.validationError.repeatPassword', repeatPasswordControl)">
        </app-input-feedback>
      </div>
    </div>
  </div>
</section>
