<ng-container *ngIf="batchTypes">
  <div class="ellipsis tooltip" *ngIf="batchTypes.length > 0">
    <div class="tooltip-layer" *ngIf="batchTypes.length > showTooltipForListLongerThan">
      <div class="tooltip-bt-list">
        <ul id="bt-tooltip-list" class="list-vertical-separator" [class.tooltip-bt-list-no-limited]="!shouldShowEllipsisInTooltip()">
          <ng-container *ngFor="let batchType of batchTypes; let i = index">
            <li *ngIf="i < batchTypesTooltipListLimit">
              <p class="bt-name">{{ batchType.value }}</p>
              <div class="bt-type">
                <app-tag
                        [value]="batchType.active ? 'decisionTrees.table.assignedTo.active' : 'decisionTrees.table.assignedTo.assigned'"
                        [class]="batchType.active ? 'active-bt' : 'assigned'"></app-tag>
              </div>
            </li>
          </ng-container>
        </ul>
        <div class="bt-list-limit" *ngIf="shouldShowEllipsisInTooltip()">
          <a class="text-ellipsis link"
             [routerLink]="link"
             [translate]="'decisionTrees.table.assignedTo.showMore'"></a>
        </div>
      </div>
    </div>
    <ul class="assigned-bt-list">
      <li *ngFor="let batchType of batchTypes">
        <app-tag class="active-bt"
                 *ngIf="batchType.active"
                 [value]="batchType.value">
        </app-tag>
        <app-tag class="assigned"
                 *ngIf="!batchType.active"
                 [value]="batchType.value">
        </app-tag>
      </li>
    </ul>
  </div>
  <app-empty-state *ngIf="batchTypes.length === 0"
                   class="empty-state-data"
                   [label]="'decisionTree.infobox.batchTypes.emptyState'"></app-empty-state>
</ng-container>
