/gradle/wrapper/* @ahaczewski
/gradle/*.toml    @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*       @ahaczewski @gchodzicki
/.github/*        @ahaczewski

build-logic/**/*  @ahaczewski
platforms/**/*    @ahaczewski
# tests/**/*        @kkicza

/.editorconfig            @ahaczewski
/.gitattributes           @ahaczewski
/.gitignore               @ahaczewski
/.pre-commit-config.yaml  @ahaczewski

build.gradle      @ahaczewski
gradle.properties @ahaczewski
settings.gradle   @ahaczewski
