<div class="content-internal-margin--vertical content-internal-margin--horizontal">
  <app-header [headerData]="header"></app-header>

  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let tab of tabNavigationLinks"
       [routerLink]="tab.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{tabTranslatePrefix + tab.name | translate}}

      <ng-container *ngIf="tab.name=='active' && activeDiscrepantBranchesCount | async as count">
        ({{ count }})
      </ng-container>
    </a>
  </nav>

  <router-outlet></router-outlet>
</div>
