<div class="field-group-settings">
  <div class="field-group-settings-row"
       *ngFor="let c of control.controls, let i = index">
    <div class="select-dropdown field-group-settings-row-option">
      <app-icon [name]="'arrow'"></app-icon>
      <select class="input-field"
              [formControl]="c.get('decisionTreeId')"
              name="decision-tree-select-{{i}}"
              id="decision-tree-select-{{i}}">
        <option [ngValue]="null"
                [translate]="'user-management.permissions.decisionTree.defaultText'"
                disabled selected hidden></option>
        <option *ngFor="let dt of decisionTrees" [value]="dt.id">
          {{dt.name}}
        </option>
      </select>
    </div>
    <button class="button-outline"
            (click)="removeOption(i)"
            [translate]="'user-management.permissions.decisionTree.removeButton'"></button>
  </div>
  <div class="field-group-settings-row">
    <button class="button-outline "
            (click)="addNewOption()"
            [translate]="'user-management.permissions.decisionTree.addButton'"></button>
  </div>
</div>





