$app-header-height: 54px;
$app-header-border: $border-outline;
$app-header-logo-height: 30px;
$app-header-user-image-size: 36px;

$inbox-table-button-padding: $space-s $space-m;
$inbox-table-column-date: 160px;

$height-of-interactive-elements: 32px;
