<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <springProperty name="LOG_PATH" source="serp.logging.path" defaultValue=""/>
  <springProperty name="LOG_NAME" source="serp.logging.name" defaultValue="service"/>
  <springProperty name="SERVICE_NAME" source="spring.application.name" defaultValue="service"/>
  <springProperty name="HOSTNAME" source="hostname" defaultValue="undefined"/>

  <!-- CONSOLE appender -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf-8</charset>
    </encoder>
    <target>System.out</target>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>DENY</onMatch>
      <onMismatch>ACCEPT</onMismatch>
    </filter>
  </appender>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <target>System.err</target>
  </appender>

  <!-- SERP defaults -->
  <include resource="logback-defaults.xml"/>

  <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <!-- Development configuration -->
  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="STDERR"/>
    </root>
  </springProfile>
</configuration>
