@import 'abstracts/8-pt-grid';

:host {
  margin: auto;
  margin-bottom: calculate-8-pt-grid(4);
}

.card-layout--centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.0, 1.0);
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
}
