<div class="state" [class.state--centered]="stateContent.centered">
  <div class="state__image">
    <mat-spinner *ngIf="stateContent.inProgress"></mat-spinner>
    <img *ngIf="stateContent.image" src="{{stateContent.image}}">
  </div>
  <p class="mat-title" *ngIf="stateContent.title" [translate]="stateContent.title"></p>
  <p class="mat-body" *ngIf="stateContent.description" [translate]="stateContent.description"></p>
  <button *ngIf="stateContent.button"
          mat-stroked-button
          color="primary"
          class="state__button"
          (click)="onButtonClick()">
    <span [translate]="stateContent.button"></span>
  </button>
</div>
