@import 'abstracts/8-pt-grid';

.state {
  text-align: center;
  max-width: 400px;
  margin: auto;
  margin-bottom: calculate-8-pt-grid(4);

  &__image {
    margin-bottom: calculate-8-pt-grid(4);

    * {
      margin: auto;
    }
  }
}
