<div *ngIf="branchDetails"
     class="rb-details">
  <app-header [headerData]="header"></app-header>

  <app-reasoning-branch-details
          [branchDetails]="branchDetails"
          [rbId]="rbId"></app-reasoning-branch-details>
  <mat-divider></mat-divider>
  <div class="sidebar-details__section">
    <app-state *ngIf="showFeaturesError"
               [stateContent]="featuresErrorState"
               (buttonClick)="populateFeatureList()"></app-state>
    <app-state *ngIf="showFeaturesLoading"
               [stateContent]="featuresLoadingState"></app-state>
    <app-reasoning-branch-features *ngIf="showFeaturesList"
                                   [featuresList]="featuresList"></app-reasoning-branch-features>

  </div>
</div>
