<app-header [headerData]="header"></app-header>

<div class="sidebar-details__section">
  <div class="values-list values-list--horizontal">
    <p class="mat-body" [translate]="labelsTranslatePrefix + 'id'"></p>
    <p class="mat-body">
      Lorem
    </p>
  </div>
  <div class="values-list values-list--horizontal">
    <p class="mat-body" [translate]="labelsTranslatePrefix + 'aiSolution'"></p>
    <p class="mat-body">
      Lorem
    </p>
  </div>
  <div class="values-list values-list--horizontal">
    <p class="mat-body" [translate]="labelsTranslatePrefix + 'aiStatus'"></p>
    <p class="mat-body">
      Lorem
    </p>
  </div>
  <div class="values-list values-list--horizontal">
    <p class="mat-body" [translate]="labelsTranslatePrefix + 'pendingChanges'"></p>
    <p class="mat-body">
      Lorem
    </p>
  </div>
  <div class="values-list values-list--horizontal">
    <p class="mat-body" [translate]="labelsTranslatePrefix + 'lastUpdate'"></p>
    <p class="mat-body">
      Lorem
    </p>
  </div>
</div>
<mat-divider></mat-divider>
<div class="sidebar-details__section">
  <div class="values-list values-list--horizontal">
    <p class="mat-body">Agent name</p>
    <p class="mat-body">Value</p>
  </div>
</div>
