<ng-container *ngIf="changeRequestData && changeRequestID">
  <app-header [headerData]="changeRequestID"></app-header>

  <div class="sidebar-details__section">
    <div class="values-list values-list--horizontal">
      <p class="mat-body" [translate]="changeRequestData.details.id.label"></p>
      <p class="mat-body">
        {{ 'pendingChanges.prefix' | translate:{value: changeRequestData.details.id.value} }}
      </p>
    </div>
    <div class="values-list values-list--horizontal">
      <p class="mat-body" [translate]="changeRequestData.details.branches.label"></p>
      <p class="mat-body">
        {{ changeRequestData.details.branches.value }}
      </p>
    </div>
    <div class="values-list values-list--horizontal">
      <p class="mat-body" [translate]="changeRequestData.details.createdAt.label"></p>
      <p class="mat-body">
        {{ changeRequestData.details.createdAt.value | date:dateFormatting }}
      </p>
    </div>
    <div class="values-list values-list--horizontal">
      <p class="mat-body" [translate]="changeRequestData.details.createdBy.label"></p>
      <p class="mat-body">
        {{ changeRequestData.details.createdBy.value }}
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="sidebar-details__section">
    <div class="values-list values-list--horizontal">
      <p class="mat-body" [translate]="changeRequestData.changes.aiSolution.label"></p>
      <p class="mat-body">
        <span *ngIf="changeRequestData.changes.aiSolution.value">{{changeRequestData.changes.aiSolution.value}}</span>
        <span *ngIf="!changeRequestData.changes.aiSolution.value"
              class="secondary-text"
              [translate]="'aiSolutions.unchanged'"></span>
      </p>
    </div>
    <div class="values-list values-list--horizontal">
      <p class="mat-body" [translate]="changeRequestData.changes.active.label"></p>
      <p class="mat-body">
        <span *ngIf="changeRequestData.changes.active.value">{{changeRequestData.changes.active.value}}</span>
        <span *ngIf="!changeRequestData.changes.active.value"
              class="secondary-text"
              [translate]="'aiStatus.unchanged'"></span>
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="sidebar-details__section">
    <div class="values-list values-list--vertical">
      <p class="mat-body" [translate]="translatePrefix + 'comment.title'"></p>
      <p class="mat-body">
        {{ changeRequestData.comment }}
      </p>
    </div>
  </div>
</ng-container>
