@import '_old/variables';
@import '_old/mixins';

.copy-description {
  margin-bottom: $space-l;

  .copy-description-name {
    font-weight: 700;
  }
}


.field-row-label {
  width: 180px;
}

.popup-window-content {
  ::ng-deep {
    .feedback-message {
      margin-bottom: $space-m;
    }
  }
}
