<section class="modal-content-section modal-content-section-divided modal-content-section-first">
  <div class="modal-content-section-label">
    <label class="required"
       for="{{optionId}}-username"
       [translate]="'user-management.userProfile.labels.userName'"></label>
  </div>
  <div class="modal-content-section-content">
    <div>
      <input id="{{optionId}}-username" class="input-field" type="text"
             [class.error]="shouldDisplayErrors(control)"
             [formControl]="control"
             placeholder="{{ 'user-management.userProfile.inputPlaceholder.userName' | translate }}"
             maxlength="64">
      <app-input-description
              [inputDescription]="'user-management.userProfile.inputDescripions.userName'"></app-input-description>
      <app-input-feedback
              *ngIf="shouldDisplayErrors(control)"
              [feedbackErrors]="getErrors('user-management.userProfile.validationError.userName', control)">
      </app-input-feedback>
    </div>
  </div>
</section>
