<ng-container *ngIf="isInitialized()">

  <app-error-feedback
          [translatePrefix]="'decisionTree.branchUpdater.changeRequest.validationError'"
          [data]="errors">
  </app-error-feedback>

  <app-change-request-solution-option
          [control]="solutionControl">
  </app-change-request-solution-option>
  <app-change-request-status-option
          [control]="statusControl" [availableOptions]="availableStatusOptions">
  </app-change-request-status-option>
  <app-change-request-comment-option
          [control]="commentControl">
  </app-change-request-comment-option>
</ng-container>
