<ng-container *ngIf="data">
  <button *ngIf="data.pendingChanges"
          (click)="openChangelog()"
          class="button-flat"
          [translate]="'decisionTree.branchTable.data.changelog.buttonLabel'"></button>
  <app-empty-state *ngIf="!data.pendingChanges"
                   [label]="'decisionTree.branchTable.data.changelog.emptyState'"
                   class="empty-state-data"></app-empty-state>
</ng-container>

<!-- TODO will be moved into dedicated component as described in SCS-754 -->
<app-overlay [class.is-active]="changelogVisible"></app-overlay>
<div class="popup-window" [class.is-active]="changelogVisible" *ngIf="changelogVisible">
  <div class="popup-window-header">
    <h1 class="popup-window-title"
        [translate]="'decisionTree.branchTable.data.changelog.title'"></h1>
  </div>
  <perfect-scrollbar>
    <div class="popup-window-content">
      <app-changelog
              *ngIf="data.pendingChanges"
              [decisionTreeId]="data.decisionTreeId"
              [matchGroupId]="data.matchGroupId">
      </app-changelog>
    </div>
  </perfect-scrollbar>
  <section class="popup-window-footer">
    <button class="button-outline "
            (click)="closeChangelog()"
            [translate]="'decisionTree.branchTable.data.changelog.buttonClose'"></button>
  </section>
</div>
