@mixin full-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
}

:host {
  @include fixed;
  @include full-screen;
  background-color: white;
}

.frame {
  @include full-screen;
  height: unset;
  min-height: 100vh;
}
