.input-validation-list {
  @extend %list-vertical-text;

  margin-top: add-px-to-value(grid-value(1));

  li {
    @extend %-typography-body-text;

    color: $color-typography-negative;
    padding-left: $space-between-related-elements;
  }
}
