<ng-container *ngIf="changelog">
  <div class="module-content">
    <section
            class="modal-content-section">
      <div class="modal-content-section-label">
        <p [translate]="'changelog.reasoningBranchHeader'"></p>
      </div>
      <div class="modal-content-section-content">
        <a class="link modal-content-section-content-value"
           [routerLink]="reasoningBranchLink">
          {{ makeElementId() }}
        </a>
      </div>
    </section>
    <section
            class="modal-content-section">
      <div class="modal-content-section-label">
        <p [translate]="'changelog.changeSolutionHeader'"></p>
      </div>
      <div class="modal-content-section-content">
        <ng-container *ngIf="!changelog.solutionChange">
          <p class="no-changes modal-content-section-content-value"
             [translate]="'changelog.noChanges'"></p>
        </ng-container>
        <ng-container *ngIf="changelog.solutionChange">
          <app-solution-change class="level-fix"
                               [solutionChange]="changelog.solutionChange"></app-solution-change>
        </ng-container>
      </div>
    </section>
    <section
            class="modal-content-section modal-content-section-divided">
      <div class="modal-content-section-label">
        <p [translate]="'changelog.statusHeader'"></p>
      </div>
      <div class="modal-content-section-content">
        <ng-container *ngIf="!changelog.statusChange">
          <p class="no-changes modal-content-section-content-value"
             [translate]="'changelog.noChanges'"></p>
        </ng-container>
        <ng-container *ngIf="changelog.statusChange">
          <app-status-change class="level-fix"
                             [statusChange]="changelog.statusChange"></app-status-change>
        </ng-container>
      </div>
    </section>
  </div>
</ng-container>
