@import 'src/styles/abstracts/8-pt-grid';
@import 'src/styles/abstracts/colors';

@mixin ai-solution($color) {
  position: relative;
  z-index: 1;
  font-weight: 500;
  color: $color !important; // Protects the component against color change
  padding: calculate-8-pt-grid(1)/2 calculate-8-pt-grid(1);
  background: rgba($color, .10);
  border-radius: 4px;
}

.ai-solution {
  &--false-positive {
    @include ai-solution($solution-false-positive);
  }

  &--potential-true-positive {
    @include ai-solution($solution-potential-true-positive);
  }

  &--no-decision {
    @include ai-solution($solution-potential-true-positive);
  }
}
