<app-saved-filters [(show)]="showSavedFilters"
                   (select)="onSelectFilter($event)"></app-saved-filters>

<section class="branch-filter">
  <div class="filter-header">
    <div class="filter-name">
      <input placeholder="My Filter name"
             class="input-field"
             [(ngModel)]="filterName"/>
      <button class="button-outline"
              [disabled]="!filterName || !query"
              (click)="onSave()"
              [translate]="'decisionTree.branchFilter.saveFilter'"></button>
      <button class="button-outline"
              (click)="toggleSavedFilters()"
              [translate]="'decisionTree.branchFilter.savedFilters'"></button>
    </div>

  </div>
  <div class="filter-editor">
    <app-input-text-window
            id="query-input"
            [placeholder]="'decisionTree.branchFilter.queryPlaceholder'"
            [(textAreaValue)]="query"
            [listOfErrors]="queryErrors"
            (keydown.control.enter)="onExecute()"></app-input-text-window>
  </div>
  <div class="filter-options">
    <button class="button-outline" id="refresh-query-button"
            [translate]="'decisionTree.branchFilter.resetBtn'"
            (click)="onReset()">
    </button>
    <button class="button-action " id="execute-query-button"
            (click)="onExecute()"
            [disabled]="!query"
            (keydown.control.enter)="onExecute()"
            [translate]="'decisionTree.branchFilter.executeBtn'">
    </button>
  </div>
</section>
