//<section class="module">
//  <div class="module-header">
//    <h2 class="module-title"></h2>
//    <div class="module-options">
//    </div>
//  </div>
//  <div class="module-content">
//  </div>
//</section>
@import '_old/variables';

.module {
  background: $color-background-element;
  border-radius: $border-radius-page-element;
  box-shadow: $shadow-card;
  line-height: 1.5;

  &.module-no-border {
    border: 0;
    border-radius: 0;
    padding: 0;

    .module-header {
      border-bottom: 0;
      padding: 0 0 $space-m;
    }
  }

  .module-header {
    border-bottom: $border-separator;
    display: flex;
    justify-content: space-between;
    line-height: $height-of-interactive-elements;
    margin-bottom: 0;
    padding: $space-m $space-xl;

    &.module-header-margin {
      margin-bottom: $space-l;
    }

    &.module-header-no-border {
      border-bottom: 0;
    }
  }

  .module-title {
    font-size: $font-size-l;
    font-weight: 700;
  }

  .module-options {
    & > * {
      margin-left: $space-between-related-elements;
    }
  }

  .module-content {
    border-bottom-left-radius: $border-radius-page-element;
    border-bottom-right-radius: $border-radius-page-element;

    &.module-content-margin-top {
      padding-top: $space-l;
    }
  }
}
