// HTML code
//
//  <header class="page-header">
//    <div class="page-header-content">
//      <h1 class="page-name"></h1>
//      <div class="page-options "></div>
//    </div>
//    <div class="page-header-subsection"></div>
//  </header>

.page-header {
  margin-bottom: $space-xl;
  margin-top: $space-l;

  .page-header-content {
    display: flex;
    justify-content: space-between;
    line-height: $height-of-interactive-elements;

    .page-name {
      flex: 1;
      font-size: $golden-ratio-ascending-half-of-2;
      font-weight: 700;
    }

    .page-options {
      button,
      .input-field-icon {
        display: inline-block;
        margin-left: $space-between-related-elements;
      }
    }
  }

  .page-header-subsection {
    margin-top: $space-s;
  }
}
