.modal-content-section {
  border-bottom: $border-separator;
  display: flex;
  padding: $space-l 0;

  &:first-child,
  &.first-modal-content-section {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  &.modal-content-section-divided {
    border-bottom: $border-separator;
    padding-bottom: $space-l;
  }

  &.modal-content-section-first {
    padding-top: $space-l;
  }

  .modal-content-section-label {
    font-weight: 700;
    line-height: 40px;
    margin-right: $space-m;
    width: 130px;
  }

  .modal-content-section-content {
    flex: 1;

    .input-field {
      height: unset;
      line-height: 22px;
      padding: 8px 16px;
    }

    .modal-content-section-content-value {
      line-height: 40px;
    }
  }
}
