<section class="modal-content-section modal-content-section-divided modal-content-section-first"
         *ngIf="control">
  <div class="modal-content-section-label">
    <label [translate]="'user-management.userProfile.labels.superUser'"></label>
  </div>
  <div class="modal-content-section-content">
    <div class="modal-content-section-content-value status-description">
      <label for="{{optionId}}-su"
             [translate]="'user-management.userProfile.superUser.description'"></label>
      <label class="switch">
        <input type="checkbox"
               id="{{optionId}}-su"
               [formControl]="control">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</section>
