$checkbox-size: 18px;
$checkbox-inside-margin: 4px;
$checkbox-mark-size: $checkbox-size - (2 * $checkbox-inside-margin);

.checkbox,
.radio {
  opacity: 0;
  position: absolute;

  & + label {
    cursor: pointer;
    display: block;
    height: $checkbox-size;
    padding: 0;
    position: relative;
    width: 100%;

    .label {
      line-height: $checkbox-size;
      padding-left: $checkbox-size + $space-m;
    }

    &::before {
      @include transition(all, $transition-fast, ease-in-out);
      background: $color-background-element;
      border: 2px solid $color-border-light;
      content: '';
      display: inline-block;
      height: $checkbox-size;
      position: absolute;
      vertical-align: text-top;
      width: $checkbox-size;
    }
  }

  &:hover,
  &:focus,
  &:checked {
    & + label {
      &::before {
        border-color: $color-action-border;
      }
    }
  }

  &:focus {
    & + label {
      color: $color-action;
    }
  }

  &:disabled {
    & + label {
      color: $color-disabled-label;
      cursor: not-allowed;

      &::before {
        border-color: $color-disabled-label;
      }
    }
  }

  &:checked {
    & + label {
      font-weight: 700;

      &::after {
        background: $color-action-background;
        content: '';
        height: $checkbox-mark-size;
        left: $checkbox-inside-margin;
        position: absolute;
        top: $checkbox-inside-margin;
        width: $checkbox-mark-size;
      }
    }
  }
}

.checkbox {
  & + label {
    &::before {
      border-radius: 4px;
    }
  }

  &:checked {
    & + label {
      &::after {
        border-radius: 2px;
      }
    }
  }
}

.radio {
  & + label {
    &::before {
      border-radius: 50%;
    }
  }

  &:checked {
    & + label {
      &::after {
        border-radius: 50%;
      }
    }
  }
}

.button-checkbox {
  @include transition(all, $transition-fast, ease-in-out);
  background: $color-background-element;
  border: 2px solid $color-border;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  height: $checkbox-size;
  padding: 0;
  position: relative;
  top: 2px;
  width: $checkbox-size;

  &:hover,
  &:focus,
  &:checked {
    border-color: $color-action-border;
  }

  &.is-active {
    border-color: $color-action-border;

    &::after {
      background: $color-action-background;
      border-radius: 2px;
      content: '';
      height: $checkbox-mark-size;
      left: 2px;
      position: absolute;
      top: 2px;
      width: $checkbox-mark-size;
    }
  }
}
