@import '_old/variables';

$switch-height: 24px;
$switch-width: $switch-height * $golden-ratio;

$slider-margin: 2px;
$slider-size: $switch-height - (2 * $slider-margin);
$slider-active-position: $switch-width - ($slider-size + (2 * $slider-margin));

.switch {
  display: inline-block;
  height: $switch-height;
  position: relative;
  width: $switch-width;

  input {
    height: 0;
    opacity: 0;
    width: 0;
  }
}

.slider {
  @include transition(all, $transition-fast, ease-in-out);
  background-color: $-color-gray-20;
  border-radius: $switch-height;
  bottom: 0;
  cursor: pointer;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  &::before {
    @include transition(all, $transition-fast, ease-in-out);
    background-color: $color-background-element;
    border-radius: 50%;
    bottom: $slider-margin;
    box-shadow: 0 0 6px 1px $color-shadow-black;
    content: '';
    height: $slider-size;
    left: $slider-margin;
    position: absolute;
    width: $slider-size;
  }
}

input {
  &:checked + .slider {
    background-color: $color-feedback-positive-background;
  }

  &:hover + .slider,
  &:focus + .slider {
    background-color: $color-action-border;
  }

  &:checked {
    & + .slider {
      &::before {
        @include transform(translateX($slider-active-position));
      }
    }
  }
}
