<app-preloader class="preload-page"
               [class.is-active]="!branchDetails" *ngIf="!branchDetails"></app-preloader>
<div *ngIf="branchDetails">
  <app-hint-feedback [settings]="cbWarningMessageSettings">
    <li><a class="button-outline" (click)="generateCircuitBreakerReport()"
    [translate]="'reasoningBranch.cb-hint.downloadCBReport'"></a></li>
  </app-hint-feedback>
  <header class="page-header">
    <div class="page-header-content">
      <h1 class="page-name"
          [translate]="'reasoningBranch.title'"
          [translateParams]="{rbId: branchDetails.matchGroupId, dtId: branchDetails.decisionTreeInfo.id}"></h1>
    </div>
    <div class="page-header-subsection">
      <app-breadcrumbs *ngIf="breadcrumbsProvider"
                       [breadcrumbsProvider]="breadcrumbsProvider"></app-breadcrumbs>
    </div>
  </header>
  <div class="grid-system grid-6-6 branch-details">
    <app-reasoning-branch-details class="page-module"
                                  [branchDetails]="branchDetails"
                                  (refreshReviewStatus)="refreshDetails()"></app-reasoning-branch-details>
    <app-reasoning-branch-features
            class="page-module"
            [features]="branchDetails.features"></app-reasoning-branch-features>
  </div>
  <section class="page-section">
    <div class="page-section-header">
      <h2 class="page-section-title"
          [translate]="'reasoningBranch.alerts.title'"></h2>
      <div class="page-section-options">
        <button class="button-outline"
                [class.is-active]="showSolutions"
                (click)="onShowSolutionsClick()"
                [translate]="'reasoningBranch.alerts.options.showSolutions'"></button>
      </div>
    </div>
    <div class="page-section-content">

      <div class="alerts">
        <div *ngIf="learningQualityAlertsDataProvider" class="alert-section">
          <app-dynamic-table [provider]="learningQualityAlertsDataProvider"
                             [page]="queryParamsPages.learningQualityTablePage"
                             [title]="'reasoningBranch.alerts.table.learning.title'"
                             [tableDataPrefix]="'reasoningBranch.alerts.table.data'"
                             (itemClick)="selectAlert($event.item)"
                             (pageChange)="updateUrlPagination($event, 'learningQualityPage')"
                             [class.wrapping-table]="showSolutions"
                             [linksInRows]="true"
                             [tableHints]="['verticalScroll', 'openInNewWindow']"
                             class="table-alerts links">
          </app-dynamic-table>
        </div>
        <div *ngIf="otherAlertsDataProvider" class="alert-section">
          <app-dynamic-table [provider]="otherAlertsDataProvider"
                             [page]="queryParamsPages.otherTablePage"
                             [title]="'reasoningBranch.alerts.table.other.title'"
                             [tableDataPrefix]="'reasoningBranch.alerts.table.data'"
                             (itemClick)="selectAlert($event.item)"
                             (pageChange)="updateUrlPagination($event, 'otherPage')"
                             [class.wrapping-table]="showSolutions"
                             [linksInRows]="true"
                             [tableHints]="['verticalScroll', 'openInNewWindow']"
                             class="table-alerts links">
          </app-dynamic-table>
        </div>
      </div>
    </div>
  </section>
</div>
