@import '_old/variables';
@import '_old/layout/module';

.alerts {
  .alert-section {
    margin-bottom: $space-xl;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1360px) {
  .grid-4-8 {
    grid-template-columns: 6fr 6fr;
  }
}
