### Various ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.DS_Store
*.bak
*.orig

### jenv ###
.java-version

### IntelliJ IDEA ###
/.idea/*/
/.idea/*.xml
out/
.idea/
*.iws
*.iml
*.ipr
.attach_pid*

### Excluded IntelliJ IDEA configuratiojn ###
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
!/.idea/codeStyles/
!/.idea/checkstyle-idea.xml
!/.idea/sqldialects.xml
!/.idea/misc.xml

### Gradle ###
build/
.gradle/

### Docker ###
/.env
