<app-full-screen-layout>

  <app-card-layout>

    <img card-layout-image src="assets/images/logo/silent-eight-logomark.svg" alt="Silent Eight logomark"/>

    <ng-container card-layout-headline>
      {{ 'error-page.title.' + (type | async) | translate }}
    </ng-container>

    <ng-container card-layout-description>
      {{ 'error-page.description.' + (type | async) | translate }}
    </ng-container>

    <ng-container card-layout-panel [ngSwitch]="type | async">
      <ng-container *ngSwitchCase="types.DEFAULT">
        <button mat-flat-button color="primary" (click)="back()">
          {{'error-page.buttons.default.goBack' | translate}}</button>
      </ng-container>
      <ng-container *ngSwitchCase="types.E403">
        <button mat-flat-button color="primary" routerLink="/">
          {{'error-page.buttons.403.return' | translate}}</button>
        <button mat-flat-button color="primary" (click)="logout()">
          {{'error-page.buttons.403.signOut' | translate}}</button>
      </ng-container>
      <ng-container *ngSwitchCase="types.E401">
        <button mat-flat-button color="primary" (click)="login()">
          {{'error-page.buttons.401.logIn' | translate}}</button>
      </ng-container>
    </ng-container>

  </app-card-layout>

</app-full-screen-layout>
