<ng-container *ngIf="pendingChange">
  <app-header [headerData]="pendingChangeHeader"></app-header>

  <div class="sidebar-details__section">
    <div class="values-list values-list--horizontal">
      <p class="mat-body"
         translate="pendingChanges.changeRequestDetails.details.labels.changeRequestID"></p>
      <p class="mat-body">
        {{ 'pendingChanges.prefix' | translate: {value: pendingChange.id} }}
      </p>
    </div>
    <div class="values-list values-list--horizontal">
      <p class="mat-body"
         translate="pendingChanges.changeRequestDetails.details.labels.reasoningBranchesCount"></p>
      <p class="mat-body">
        {{ pendingChange.reasoningBranchIds.length }}
      </p>
    </div>
    <div class="values-list values-list--horizontal">
      <p class="mat-body"
         translate="pendingChanges.changeRequestDetails.changes.labels.aiSolution"></p>
      <p class="mat-body">
        <app-ai-solution *ngIf="pendingChange.aiSolution !== null"
                         [aiSolution]="pendingChange.aiSolution">
        </app-ai-solution>
        <span *ngIf="pendingChange.aiSolution === null"
              class="secondary-text"
              [translate]="'aiSolutions.unchanged'">
      </span>
      </p>
    </div>
    <div class="values-list values-list--horizontal">
      <p class="mat-body"
         translate="pendingChanges.changeRequestDetails.changes.labels.aiStatus"></p>
      <p class="mat-body">
        <app-element-status *ngIf="pendingChange.active !== null"
                            [elementStatus]="pendingChange.active">
        </app-element-status>
        <span *ngIf="pendingChange.active === null"
              class="secondary-text"
              [translate]="'aiStatus.unchanged'"></span>
      </p>
    </div>
    <div class="values-list values-list--horizontal">
      <p class="mat-body"
         translate="pendingChanges.changeRequestDetails.changes.labels.crStatus"></p>
      <p class="mat-body">
        {{ pendingChange.state | titlecase}}
      </p>
    </div>

  </div>

  <mat-divider></mat-divider>

  <div class="sidebar-details__section">
    <div class="values-list values-list--horizontal">
      <p class="mat-body"
         translate="pendingChanges.changeRequestDetails.details.labels.createdBy"></p>
      <p class="mat-body">
        {{ pendingChange.createdBy }}
      </p>
    </div>
    <div class="values-list values-list--horizontal">
      <p class="mat-body"
         translate="pendingChanges.changeRequestDetails.details.labels.createdAt"></p>
      <p class="mat-body">
        {{ pendingChange.createdAt | date:dateFormatting }}
      </p>
    </div>
    <div class="values-list values-list--vertical">
      <p class="mat-body" [translate]="translatePrefix + 'reason.title'"></p>
      <p class="mat-body">
        {{ pendingChange.comment }}
      </p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="sidebar-details__section">
    <div class="values-list values-list--horizontal">
      <p class="mat-body"
         translate="pendingChanges.changeRequestDetails.closed.decidedBy"></p>
      <p class="mat-body">
        {{ pendingChange.decidedBy }}
      </p>
    </div>
    <div class="values-list values-list--horizontal">
      <p class="mat-body"
         translate="pendingChanges.changeRequestDetails.closed.decidedAt"></p>
      <p class="mat-body">
        {{ pendingChange.decidedAt | date:dateFormatting }}
      </p>
    </div>
    <div class="values-list values-list--vertical">
      <p class="mat-body"
         [translate]="'pendingChanges.changeRequestDetails.closed.deciderComment'"></p>
      <p class="mat-body">
        {{ pendingChange.deciderComment }}
      </p>
    </div>
  </div>

</ng-container>
