<app-overlay [class.is-active]="show"></app-overlay>
<div class="popup-window" [class.is-active]="show">
  <div class="popup-window-header">
    <h1 class="popup-window-title"
        [translate]="'user-management.userProfile.title.addNewUser'">
    </h1>
  </div>
  <app-preloader class="preload-element" [class.is-active]="inProgress"></app-preloader>
  <perfect-scrollbar #modalContentScroll>
    <div class="popup-window-content">
      <section class="user-type">
        <app-switch-view [translatePrefix]="'user-management.data.userType.'"
                         [items]="availableUserTypes"
                         (select)="onSelect($event)"
                         #switchView>
        </app-switch-view>
      </section>
      <app-feedback-message class="error" [class.is-active]="errorMessage" [message]="errorMessage">
      </app-feedback-message>
      <app-new-user-template></app-new-user-template>
    </div>
  </perfect-scrollbar>
  <section class="popup-window-footer">
    <button class="button-outline"
            [translate]="'user-management.userProfile.actions.cancel'"
            (click)="onCancel()">
    </button>
    <button class="button-action"
            [disabled]="shouldDisableSaveButton()"
            [translate]="'user-management.userProfile.actions.addUser'"
            (click)="onSave()">
    </button>
  </section>
</div>
