@import '_old/mixins';

.selected-elements-panel {
  @include transition(all, $transition-fast, ease-in-out);
  background: $color-background-element;
  bottom: 0;
  box-shadow: 0 0px 6px 0 rgba(32,33,36,0.13);
  display: flex;
  justify-content: space-between;
  left: 0;
  line-height: 32px;
  padding: $space-l $space-xl;
  position: fixed;
  transform: translateY(100px);
  width: 100%;
  z-index: 1000;

  &.is-active {
    transform: translateY(0);
  }

  .selected-elements-panel-error {
    @extend %text-error;
  }

  .selected-elements-panel-info {
    display: flex;

    & > * {
      margin-right: $space-l;
    }

    .selected-elements-panel-info-count {
      font-weight: 700;
    }
  }

  .selected-elements-panel-options {
    & > * {
      margin-left: $space-l;
    }
  }

  .selected-elements-loading {
    font-weight: 700;
  }
}
