.branch-content-empty {
  text-align: center;
  padding: 40px 0;

  .branch-content-empty-primary {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .branch-content-empty-secondary {
    font-size: 13px;
    color: #999999;
    max-width: 400px;
    margin: auto;
  }
}
