<ng-container *ngIf="data">
  <p class="text-ellipsis">
    <span *ngIf="data.approvalLevels > 1"
          [translate]="'workflowManagement.table.rows.approvalLevels.many'"
          [translateParams]="{value: data.approvalLevels}">
    </span>
    <span *ngIf="data.approvalLevels === 1"
          [translate]="'workflowManagement.table.rows.approvalLevels.one'">
    </span>
    <span class="empty-state-data"
          *ngIf="data.approvalLevels === 0"
          [translate]="'workflowManagement.table.rows.approvalLevels.empty'">
    </span>
  </p>
</ng-container>
