<app-panel-layout *ngIf="response" class="new-password panel-layout--left-alignment" [@skidInOut]>
  <label [innerHTML]="'usersManagement.form.resetPassword.newPassword' | translate: {user: user.userName, password: response.temporaryPassword}">
  </label>
</app-panel-layout>

<app-panel-layout *ngIf="!response && confirmation" class="panel-layout--left-alignment" [@skidInOut]>
  <label>Are you sure?</label>
  <button mat-button color="primary" (click)="confirmation = false" [disabled]="loading">
    {{ 'usersManagement.form.resetPassword.cancel' | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="reset()" [disabled]="loading">
    <app-loading-button-layout [spinner]="loading">
      {{ 'usersManagement.form.resetPassword.button' | translate }}
    </app-loading-button-layout>
  </button>
</app-panel-layout>

<app-panel-layout class="panel-layout--left-alignment" [@skidHide]="!response && !confirmation ? 'visible' : 'hidden'">
  <button mat-button color="primary" (click)="confirmation = true">
    <app-loading-button-layout [spinner]="loading">
      {{ 'usersManagement.form.resetPassword.button' | translate }}
    </app-loading-button-layout>
  </button>
</app-panel-layout>
