@import 'abstracts/8-pt-grid';

:host {
  display:flex;
  flex-direction: column;
  position: relative;
}

app-panel-layout {
  height: calculate-8-pt-grid(7);
}

.reset-user-password {
  &__result-field {
    &, & mat-form-field {
      width: 100%;
    }
  }
}
