<mat-form-field *ngIf="response" appearance="outline" class="static-error fx-fade" fx>
  <mat-label>{{ 'usersManagement.form.fields.password.label' | translate }}</mat-label>
  <input #passwordInput matInput [ngModel]="response.temporaryPassword" readonly />
  <app-field-copy-suffix matSuffix></app-field-copy-suffix>
  <mat-hint>{{ 'usersManagement.form.fields.password.hints.reset' | translate }}</mat-hint>
</mat-form-field>

<app-panel-layout *ngIf="!response" class="panel-layout--left-alignment panel-layout--outlined" >
  <button mat-stroked-button color="primary" (click)="confirmation()">
    <app-loading-button-layout [spinner]="loading">
      {{ 'usersManagement.form.resetPassword.button' | translate }}
    </app-loading-button-layout>
  </button>
</app-panel-layout>

<app-dialog-instance #confirmationDialog
                     [header]="'usersManagement.form.resetPassword.confirmation.title' | translate : { username: user.userName }"
                     [description]="'usersManagement.form.resetPassword.confirmation.description' | translate">

  <button mat-button appDialogButton color="primary">
    {{ 'usersManagement.form.resetPassword.confirmation.close' | translate }}</button>
  <button mat-flat-button appDialogButton color="primary" (click)="reset()">
    {{ 'usersManagement.form.resetPassword.confirmation.reset' | translate }}</button>

</app-dialog-instance>
