@import '../../functions/decimal-round';

// Do not make any changes in this file
// If you must change anything in this file please contact Patryk Górski

// Typography

$font-size-m: $base-size;

$font-size-s: $golden-ratio-descending-half-of-1;
$font-size-xs: $golden-ratio-descending-1;

$font-size-l: $golden-ratio-ascending-half-of-1;
$font-size-xl: $golden-ratio-ascending-1;
$font-size-xxl: $golden-ratio-ascending-half-of-2;
$font-size-xxxl: $golden-ratio-ascending-half-of-2;
