<div class="popup-full-screen">
  <app-loading [class.is-active]="inProgress | async"></app-loading>
  <perfect-scrollbar class="page-scroll"
                     [hidden]="inProgress | async">
    <div class="page-wrapper">
      <main class="page-main">
        <header class="page-header">
          <div class="page-header-content">
            <h1 class="page-name"
                [translate]="getTranslationPath('title')"></h1>
            <div class="page-options">
              <button class="button-outline button-size-medium"
                      (click)="close()"
                      [translate]="'approver.approveSelected.cancelButton'">
              </button>
            </div>
          </div>
        </header>
        <section class="branch-updater-changes">
          <app-error-feedback
                  *ngIf="errors | async"
                  [translatePrefix]="'decisionTree.branchUpdater.changeRequest.serverError'"
                  [data]="errors | async">
          </app-error-feedback> <!-- //TODO BOGDAN -->

          <div class="field-row">
            <div class="field-row-label">
              <label class="required"
                     [translate]="getTranslationPath('input.label')"></label>
            </div>
            <div class="field-row-option-horizontal-single">
              <app-input-text-window
                [placeholder]="'approver.approveSelected.placeholder'"
                [(textAreaValue)]="comment"></app-input-text-window>
            </div>
          </div>

          <div class="branch-updater-changes">
            <section class="approve-selected-changes-footer">
              <button *ngIf="isReject()"
                      class="button-action"
                      [class.disabled]="commentIsEmpty()"
                      [disabled]="commentIsEmpty()"
                      (click)="reject()"
                      [translate]="'approver.rejectSelected.input.reject'">
              </button>
              <button *ngIf="!isReject()"
                      class="button-action"
                      [class.disabled]="commentIsEmpty()"
                      [disabled]="commentIsEmpty()"
                      (click)="approve()"
                      [translate]="'approver.approveSelected.input.approve'">
              </button>
            </section>
          </div>

          <section class="module section-page">
            <div class="module-content module-content-margin-top">
              <app-approve-changes-table
                      [tablePageLoader]="getTablePageLoader()"
                      (openChangelog)="openChangelog($event)"
              ></app-approve-changes-table>

            </div>
          </section>

        </section>
      </main>
    </div>
  </perfect-scrollbar>
</div>
