@import 'components/popup-full-screen';

.branch-updater-changes {
  margin-bottom: $space-xxl;

  .field-row-label {
    width: 130px;
  }

  .select-dropdown {
    max-width: 426px;
  }
}

.approve-selected-changes-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: $space-l;

  & > * {
    margin-right: $space-between-related-elements;

    &:last-child {
      margin-right: 0;
    }
  }
}
