@import 'components/popup-full-screen';
@import 'components/selected-elements-panel';
@import 'future-component/tooltip';

.page-scroll {
  .page-wrapper {
    .page-main {
      &.batch-type-management {
        margin-bottom: $space-xl;
      }
    }
  }
}

.batch-type-management {
  .batch-type-management-filtering {
    display: flex;
    margin: $space-xl 0;

    .batch-type-management-filtering-input {
      flex: 1;
      margin-left: 0;
    }
  }

  .batch-type-management-lists {
    display: grid;
    grid-gap: $space-xl;
    grid-template-columns: repeat(3, minmax(1px, 1fr));
    margin-bottom: $space-xl;
  }
}

.message {
  @include transition(all, $transition-slow, ease-in-out);
  border-radius: 9px;
  color: $color-text-white;
  margin: 0 0 $space-l;
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  .message-content {
    padding: $space-l;
  }

  & > * {
    margin: $space-m;
  }

  &.is-active {
    max-height: 300px;
    opacity: 1;
  }

  ul {
    list-style-type: none;
    margin-top: $space-m;

    li {
      line-height: $space-l;
      margin: 0;
      padding: 0;
    }
  }

  &.error {
    background: $color-feedback-error-background;
  }

  &.info {
    background: $color-feedback-info-background;
  }

  &.warning {
    background: $color-feedback-warning-background;
  }

  &.success {
    background: $color-feedback-positive-background;
  }

  a {
    color: $color-text-white;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


.save-changes-button {
  margin-left: $space-l;

  button {
    margin-left: 0;
  }
}
