<div class="sidebar-details__section">
  <div class="values-list values-list--horizontal">
    <p class="mat-body" [translate]="labelsTranslatePrefix + 'id'"></p>
    <p class="mat-body">
      {{rbId}}
    </p>
  </div>
  <div class="values-list values-list--horizontal">
    <p class="mat-body" [translate]="labelsTranslatePrefix + 'aiSolution'"></p>
    <p class="mat-body">
      <app-ai-solution [aiSolution]="branchDetails.aiSolution"></app-ai-solution>
    </p>
  </div>
  <div class="values-list values-list--horizontal">
    <p class="mat-body" [translate]="labelsTranslatePrefix + 'aiStatus'"></p>
    <p class="mat-body">
      <app-element-status [elementStatus]="branchDetails.active"></app-element-status>
    </p>
  </div>
  <div class="values-list values-list--horizontal">
    <p class="mat-body" [translate]="labelsTranslatePrefix + 'pendingChanges'"></p>
    <ul *ngIf="branchDetails.pendingChanges"
        class="sidebar-details__values-list">
      <li *ngFor="let change of branchDetails.pendingChanges">
        <p class="mat-body">
          {{ 'pendingChanges.prefix' | translate: {value: change.id} }}
        </p>
      </li>
    </ul>
    <p *ngIf="!branchDetails.pendingChanges"
       class="mat-body secondary-text">
      {{'reasoningBranchesBrowser.values.pendingChanges.emptyState' | translate}}
    </p>
  </div>
  <div class="values-list values-list--horizontal">
    <p class="mat-body" [translate]="labelsTranslatePrefix + 'lastUpdate'"></p>
    <p class="mat-body">
      <span *ngIf="branchDetails.updatedAt">{{branchDetails.updatedAt | date:dateFormatting }}</span>
      <span *ngIf="!branchDetails.updatedAt">{{branchDetails.createdAt | date:dateFormatting}}</span>
    </p>
  </div>
</div>
