<app-restriction-panel></app-restriction-panel>

<header class="page-header">
  <div class="page-header-content">
    <h1 class="page-name"
        [translate]="'alertRestrictionsManagement.header.title'"></h1>
    <div class="page-options">
      <button class="button-outline"
              [translate]="'alertRestrictionsManagement.header.options.addRestriction'"
              (click)="openNewRestrictionPanel()">
      </button>
    </div>
  </div>
</header>

<app-alerts-restrictions-table></app-alerts-restrictions-table>
