@import 'variables';

.element-status {

  .element-status-icon,
  .element-status-label {
    display: inline-block;
  }

  .element-status-icon {
    $size-status-icon: 12px;
    border-radius: 50%;
    height: $size-status-icon;
    position: relative;
    top: 1px;
    width: $size-status-icon;

    &.active,
    &.finished {
      background: $color-status-active;
    }

    &.inactive {
      background: $color-status-inactive;
    }

    &.error {
      background: $color-feedback-error-background;
    }

    &.processing {
      background: $color-feedback-processing-background;
    }
  }

  .element-status-label {
    margin-left: $space-s;

    &.inactive {
      @extend %text-secondary;
    }
  }
}
