@import '_old/variables';

.module {
  overflow: hidden;
}

.workflow-table {
  position: relative;
  top: -1px;

  ::ng-deep {
    .dynamic-view-labels,
    .dynamic-view-row {
      grid-template-columns: 71px repeat(3, minmax(1px, 1fr)) 160px;
      white-space: nowrap;
    }
  }
}
