@import 'variables';

.bt-type {
  text-align: right;
}

.bt-name {
  font-weight: 400;
  margin-right: $space-l;
}

:host(.lists-separator) {
  .list-vertical-separator {
    li {
      &:last-child {
        border-bottom: $border-separator;
      }
    }
  }
}
