@import '_old-main';
@import '_old/variables';
@import '_old/framework/1-load/colors';
@import '_old/framework/3-foundations/colors';

.validation-feedback {
  margin-top: 2px;
  font-size: 12px;
  color: $color-text-secondary;

  .icon {
    ::ng-deep {
      svg {
        height: 12px;
        width: 12px;
        margin-right: 4px;
        top: 2px;
        position: relative;
      }
    }
  }

  &--positive {
    color: $color-typography-positive;

    .icon {
      ::ng-deep {
        svg {
          fill: $color-typography-positive;
        }
      }
    }
  }

  &--warning {
    color: $color-typography-warning;

    .icon {
      ::ng-deep {
        svg {
          fill: $color-typography-warning;
        }
      }
    }
  }

  &--negative {
    color: $color-typography-negative;

    .icon {
      ::ng-deep {
        svg {
          fill: $color-typography-negative;
        }
      }
    }
  }
}
