@import 'variables';

.table-hints {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border-top: 1px solid $color-border-light;
  color: $color-text-secondary;
  display: flex;
  font-size: 10px;
  list-style: none;
  padding: 10px 21px;

  .table-hints-element {
    margin-right: 42px;

    ::ng-deep {
      span {
        background-color: $color-background-element;
        border: 1px solid $color-border-light;
        border-radius: 4px;
        font-weight: 700;
        margin-left: 4px;
        margin-right: 4px;
        padding: 1px 6px;
        text-transform: uppercase;
      }
    }
  }
}
