@import 'abstracts/8-pt-grid';

:host {

  display: flex;
  flex-direction: column;

  & > * {
    margin: calculate-8-pt-grid(1) calculate-8-pt-grid(2);
  }

  .bottom-sheet-layout{
    &__header {
      margin: calculate-8-pt-grid(2);
    }
  }
}


