<app-bottom-sheet-layout>

  <ng-container *ngIf="data" bottom-sheet-layout-header>
    {{ 'usersManagement.form.title.edit' | translate }}
  </ng-container>
  <ng-container *ngIf="!data" bottom-sheet-layout-header>
    {{ 'usersManagement.form.title.create' | translate }}
  </ng-container>

  <div bottom-sheet-layout-content>
    <form [formGroup]="form">

      <app-section-layout>
        <ng-container section-header>{{ 'usersManagement.form.sections.details' | translate }}</ng-container>
        <ng-container section-content>
          <mat-form-field appearance="outline" class="form__content">
            <mat-label>{{ 'usersManagement.form.fields.userName.label' | translate }} *</mat-label>
            <input matInput formControlName="userName"/>
            <mat-hint>{{ 'usersManagement.form.fields.userName.hint' | translate }}</mat-hint>
            <mat-error class="multiline-error">
              <span *ngIf="form.hasError('required', 'userName')" [@expansePassing]>{{ 'usersManagement.form.fields.userName.errors.required' | translate }}</span>
              <span *ngIf="form.hasError('usernameInUsage', 'userName')" [@expansePassing]>{{ 'usersManagement.form.fields.userName.errors.usernameInUsage' | translate }}</span>
              <span *ngIf="form.hasError('minlength', 'userName')" [@expansePassing]>{{ 'usersManagement.form.fields.userName.errors.minlength' | translate }}</span>
              <span *ngIf="form.hasError('maxlength', 'userName')" [@expansePassing]>{{ 'usersManagement.form.fields.userName.errors.maxlength' | translate }}</span>
              <span *ngIf="form.hasError('pattern', 'userName')" [@expansePassing]>{{ 'usersManagement.form.fields.userName.errors.pattern' | translate }}</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form__content">
            <mat-label>{{ 'usersManagement.form.fields.displayName.label' | translate }}</mat-label>
            <input matInput formControlName="displayName"/>
            <mat-hint>{{ 'usersManagement.form.fields.displayName.hint' | translate }}</mat-hint>
            <mat-error class="multiline-error">
              <span *ngIf="form.hasError('minlength', 'displayName')" [@expansePassing]>{{ 'usersManagement.form.fields.displayName.errors.minlength' | translate }}</span>
              <span *ngIf="form.hasError('maxlength', 'displayName')" [@expansePassing]>{{ 'usersManagement.form.fields.displayName.errors.maxlength' | translate }}</span>
            </mat-error>
          </mat-form-field>

        </ng-container>

      </app-section-layout>

      <app-section-layout *ngIf="!data">
        <ng-container section-header>{{ 'usersManagement.form.sections.password' | translate }}</ng-container>
        <mat-form-field section-content appearance="outline" class="form__content fx-fade"
                        fx *ngIf="form.controls.password.value">
          <mat-label>{{ 'usersManagement.form.fields.password.label' | translate }}</mat-label>
          <input matInput formControlName="password" readonly />
          <app-field-copy-suffix [copyOnInit]="true" matSuffix></app-field-copy-suffix>
          <mat-hint>{{ 'usersManagement.form.fields.password.hints.create' | translate }}</mat-hint>
          <mat-error>{{ 'usersManagement.form.fields.password.errors.required' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field section-content class="form__content transparent-field lean-field"
                        appearance="outline" *ngIf="!form.controls.password.value" #fieldRef="matFormField">
          <input type="hidden" formFieldEmptyControl formControlName="password">
          <button mat-stroked-button [color]="fieldRef._getDisplayedMessages() === 'error' ? 'error' : 'primary'"
                  mat-button (click)="generatePassword()">
            {{ 'usersManagement.form.fields.password.generate' | translate }}</button>
          <mat-hint>{{ 'usersManagement.form.fields.password.hints.generate' | translate }}</mat-hint>
          <mat-error>{{ 'usersManagement.form.fields.password.errors.required' | translate }}</mat-error>
        </mat-form-field>
      </app-section-layout>

      <app-section-layout *ngIf="data && data.origin === 'SENS'">
        <ng-container section-header>{{ 'usersManagement.form.sections.password' | translate }}</ng-container>
        <app-reset-user-password [user]="data" section-content></app-reset-user-password>
      </app-section-layout>

      <app-section-layout sections-group-item>
        <ng-container section-header>{{ 'usersManagement.form.sections.roles' | translate }}</ng-container>

        <mat-selection-list formControlName="roles" section-content class="mat-selection-list--outlined">
          <mat-list-option [value]="authority.ADMIN">
            <span>{{ authority.ADMIN }}</span>
            <mat-hint class="mat-caption">
              {{ 'usersManagement.form.roles.description.ADMIN' | translate }}
            </mat-hint>
          </mat-list-option>
          <div [@expanseHide]="(showAllRoles | async) ? 'visible' : 'hidden'">
            <mat-list-option *ngFor="let role of authorities" [value]="role">
              <span>{{role}}</span>
              <mat-hint class="mat-caption">
                {{ 'usersManagement.form.roles.description.' + authorityKeys[role] | translate }}
              </mat-hint>
            </mat-list-option>
          </div>
        </mat-selection-list>

      </app-section-layout>

    </form>
  </div>

  <app-panel-layout bottom-sheet-layout-content class="panel-layout--outlined">
    <button mat-stroked-button color="primary" (click)="close()" [disabled]="sending">
      {{ 'usersManagement.form.button.cancel' | translate }}</button>
    <button *ngIf="!data" mat-flat-button color="primary" (click)="accept()" [disabled]="sending">
      <app-loading-button-layout [spinner]="sending">
        {{ 'usersManagement.form.button.create' | translate }}
      </app-loading-button-layout>
    </button>
    <button *ngIf="data" mat-flat-button color="primary" (click)="accept()" [disabled]="sending">
      <app-loading-button-layout [spinner]="sending">
        {{ 'usersManagement.form.button.edit' | translate }}
      </app-loading-button-layout>
    </button>
  </app-panel-layout>

</app-bottom-sheet-layout>
