:host ::ng-deep .report-generation-step {
  &__content {
    margin: auto;
    width: 100%;
    text-align: center;
  }
}

:host ::ng-deep.mat-vertical-stepper-header {
  pointer-events: none !important;
}
