// This file contains a set of styles that will load custom fonts to the browser and define their properties.

// Roboto Regular

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/roboto-regular.ttf');
}

// Roboto Bold

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/roboto-bold.ttf');
}
