@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  src:  url('./assets/icons/icons.eot?lkrwo5');
  src:  url('./assets/icons/icons.eot?lkrwo5#iefix') format('embedded-opentype'),
  url('./assets/icons/icons.ttf?lkrwo5') format('truetype'),
  url('./assets/icons/icons.woff?lkrwo5') format('woff'),
  url('./assets/icons/icons.svg?lkrwo5#icomoon') format('svg');
}
