@import '_old/variables';
@import '_old/mixins';

$table-head-height-with-border: $table-head-height + 1px;
$table-row-height-with-border: $table-row-height + 1px;

.filtering {
  position: relative;
  top: -1px;
}

.pageable-dynamic-table {
  .pageable-dynamic-table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-l;
    padding: 0 $space-xl;
  }

  .pageable-dynamic-table-content {
    display: block;
  }

  .pageable-dynamic-table-row-count-5 {
    height: $table-head-height-with-border + (5 * $table-row-height-with-border);
  }

  .pageable-dynamic-table-row-count-10 {
    height: $table-head-height-with-border + (10 * $table-row-height-with-border);
  }

  .pageable-dynamic-table-row-count-15 {
    height: $table-head-height-with-border + (15 * $table-row-height-with-border);
  }

  .pageable-dynamic-table-row-count-20 {
    height: $table-head-height-with-border + (20 * $table-row-height-with-border);
  }
}
