<div class="pageable-dynamic-table" *ngIf="currentPageTableData">
  <div class="pageable-dynamic-table-header" *ngIf="!isFiltering">
    <app-page-row-count-selector
      [(rowCountPerPage)]="rowCountPerPage"
      [rowCountPerPageOptions]="rowCountPerPageOptions">
    </app-page-row-count-selector>
    <app-page-selector
      [isVisible]="!error"
      [total]="currentPageTableData.total"
      [(page)]="page"
      [rowCountPerPage]="rowCountPerPage">
    </app-page-selector>
  </div>
  <app-dynamic-view-table
    [translatePrefix]="translatePrefix"
    [error]="error"
    [inProgress]="inProgress"
    [tableData]="currentPageTableData"
    [tableName]="tableName"
    [previewElements]="previewElements"
    class="pageable-dynamic-table-content {{ shouldSetStaticHeightStyle() }}"
    [class.filtering]="isFiltering">
  </app-dynamic-view-table>
  <app-table-hint [tableHints]="tableHints"></app-table-hint>
</div>
