<div class="content-internal-margin--vertical content-internal-margin--horizontal rb-list">
  <app-header [headerData]="header"></app-header>
  <div class="rb-list__options">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>AI Solution</mat-label>
        <mat-select (selectionChange)="branchesFiltering($event, 'solution')">
          <mat-option [value]="'all'">All</mat-option>
          <mat-option *ngFor="let aiSolution of aiSolutions"
                      [value]="aiSolution.value">
            {{aiSolution.label | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>AI Status</mat-label>
        <mat-select (selectionChange)="branchesFiltering($event, 'status')">
          <mat-option [value]="'all'">All</mat-option>
          <mat-option [value]="true">Active</mat-option>
          <mat-option [value]="false">Disabled</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <app-state [stateContent]="stateLoading" *ngIf="showLoading"></app-state>
  <app-state [stateContent]="stateError"
             *ngIf="showError"
             (buttonClick)="loadReasoningBranchesList(reasoningBranchesRequest)"></app-state>
  <app-reasoning-branches-table
          *ngIf="showTable"
          [branchesTableData]="branchesList"
          [showSelectionCheckbox]="canSelect"
          (selectedReasoningBranches)="updateSelectedBranchesList($event)"
          (branchDetailsToPreview)="showBranchDetails($event)"></app-reasoning-branches-table>
  <app-state [stateContent]="stateLoadMore" *ngIf="showLoadMore"
             class="rb-list__load-more"></app-state>
</div>

