[submodule "datascience-installer"]
	path = datascience-installer
	url = ../../ses/datascience-installer/
[submodule "spark-manager"]
	path = spark-manager
	url = ../spark-manager
[submodule "anaconda"]
	path = anaconda
	url = ../anaconda
