[submodule "datascience-installer"]
	path = datascience-installer
	url = ses/datascience-installer/
[submodule "spark-manager"]
	path = spark-manager
	url = data-science/spark-manager
[submodule "anaconda"]
	path = anaconda
	url = data-science/anaconda
[submodule "python-datatoolbox"]
	path = python-datatoolbox
	url = ses/python-datatoolbox
