antlr4-python3-runtime==4.8
async-generator==1.10
black==22.3.0
certifi==2021.5.30
click==8.0.4
data-source-agentinput-api==0.21.0.5
data-source-api==0.21.0.5
dataclasses==0.8
distlib==0.3.4
entrypoints==0.3
filelock==3.4.1
flake8==4.0.1
fuzzywuzzy==0.18.0
googleapis-common-protos==1.55.0
grpcio==1.44.0
importlib-metadata==4.2.0
importlib-resources==5.4.0
iniconfig==1.1.1
isort==5.10.1
jedi==0.17.0
jsonschema==3.0.2
jupyter==1.0.0
lxml==4.7.1
mccabe==0.6.1
mistune==0.8.4
mypy-extensions==0.4.3
omegaconf==2.1.1
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
protobuf==3.19.4
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pytest==7.0.1
python-consul2==0.1.5
PyYAML==6.0
terminado==0.9.4
toml==0.10.2
tomli==1.2.3
tox==3.24.5
typed-ast==1.5.2
typing_extensions==4.1.1
virtualenv==20.14.0
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.6.0
