antlr4-python3-runtime==4.8
async-generator==1.10
certifi==2021.5.30
data-source-agentinput-api==0.21.0.5
data-source-api==0.21.0.5
dataclasses==0.8
distlib==0.3.4
entrypoints==0.3
fuzzywuzzy==0.18.0
googleapis-common-protos==1.55.0
grpcio==1.44.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
jedi==0.17.0
jsonschema==3.0.2
jupyter==1.0.0
lxml==4.7.1
mistune==0.8.4
omegaconf==2.1.1
platformdirs==2.4.0
pluggy==1.0.0
protobuf==3.19.4
py==1.11.0
PyYAML==6.0
terminado==0.9.4
toml==0.10.2
tox==3.24.5
typing_extensions==4.1.1
virtualenv==20.14.0
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.6.0
