agents-api==0.17.0.79
aio-pika==6.8.0
aiohttp==3.8.1
aiormq==3.3.1
aiosignal==1.2.0
async-generator==1.10
async-timeout==4.0.1
asynctest==0.13.0
attrs==19.3.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
company-name==0.9.0
data-source-api==0.17.0.65
delta==0.4.2
distlib==0.3.3
entrypoints==0.3
filelock==3.4.0
frozenlist==1.2.0
func-timeout==4.3.5
googleapis-common-protos==1.53.0
grpcio==1.42.0
grpcio-health-checking==1.42.0
grpcio-reflection==1.42.0
grpcio-status==1.42.0
grpcio-tools==1.42.0
idna==3.3
Jinja2==2.11.3
joblib==1.1.0
jupyter==1.0.0
lxml==4.7.1
lz4==3.1.3
multidict==5.2.0
munch==2.5.0
numpy==1.21.5
organization-name-knowledge==0.6.0
pamqp==2.3.0
pandas==1.3.5
phonetics==1.0.5
platformdirs==2.4.0
pluggy==1.0.0
protobuf==3.19.1
protocol-agents==0.17.0.79
py==1.11.0
py4j==0.10.9
pyparsing==3.0.6
pyspark==3.1.1
psutil==5.8.0
python-consul==1.1.0
python-consul2==0.1.5
pytz==2021.3
PyYAML==5.4.1
rapidfuzz==1.7.1
requests==2.26.0
serp-protocol-agent==0.35.0.169
serp-protocol-base==0.37.0.175
serp-protocol-ns==0.37.0.175
spark-manager==0.9.1.dev0
soupsieve==2.3.1
terminado==0.9.4
threadpoolctl==3.0.0
toml==0.10.2
tox==3.24.4
ts-agent-toolkit==2.1.0
typing_extensions==4.0.1
Unidecode==1.2.0
urllib3==1.26.7
virtualenv==20.10.0
webencodings==0.5.1
widgetsnbextension==3.5.1
yarl==1.7.2
