<div class="audit-trail__content form">
  <form [formGroup]="form" class="form__content" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline" class="mat-form-field--full-width">
      <mat-label [translate]="'auditTrail.form.startDate'"></mat-label>
      <input
        matInput
        [matDatepicker]="startDate"
        [max]="form.value.endDate"
        [errorStateMatcher]="datePickerErrorState(startDate)"
        formControlName="startDate"
        required
        (focus)="startDate.open()"
      >
      <mat-error *ngIf="form.controls.startDate.hasError('required')" [translate]="'auditTrail.form.required'"></mat-error>
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mat-form-field--full-width">
      <mat-label [translate]="'auditTrail.form.endDate'"></mat-label>
      <input
        matInput
        [matDatepicker]="endDate"
        [min]="form.value.startDate"
        required
        [errorStateMatcher]="datePickerErrorState(endDate)"
        formControlName="endDate"
        (focus)="endDate.open()"
      >
      <mat-error *ngIf="form.controls.endDate.hasError('required')" [translate]="'auditTrail.form.required'"></mat-error>
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
    <div class="form__footer">
      <button
        mat-button
        color="primary"
        (click)="form.reset()"
      >
        <span [translate]="'auditTrail.form.resetButton'"></span>
      </button>
      <button
        matStepperNext
        mat-flat-button
        color="primary"
      >
        <span [translate]="'auditTrail.form.actionButton'"></span>
      </button>
    </div>
  </form>
</div>
