@import "abstracts/colors";
@import "abstracts/8-pt-grid";

.nav-element {
  &.mat-list-item {
    border-radius: calculate-8-pt-grid(1);
    height: calculate-8-pt-grid(5);
    margin-bottom: calculate-8-pt-grid(1);
    overflow: hidden;

    ::ng-deep {
      .mat-list-item-content {
        padding: 0 calculate-8-pt-grid(1);
      }
    }
  }

  .nav-element__label {
    font-size: 14px;
    font-weight: 500;
    opacity: .9;
  }

  &--active {
    .nav-element__label {
      font-weight: 500;
    }

    .nav-element__label,
    .nav-element__icon {
      color: $primary;
      opacity: 1;
    }

    &,
    &:hover {
      background-color: rgba($primary, .1);
    }
  }
}
