<app-overlay [class.is-active]="showModal"></app-overlay>
<div class="popup-window" [class.is-active]="showModal">
  <div class="popup-window-header">
    <h1 class="popup-window-title"
        [translate]="'usersManagement.userProfile.header.headline.add'">
    </h1>
  </div>
  <perfect-scrollbar #modalContentScroll>
    <div class="popup-window-content">
      <app-user-form
        #userForm
        [userRoles]="userRoles$ | async"
        (formValueChanged)="onValueChanged($event)"
        (isValid)="isValid($event)">
      </app-user-form>
    </div>
  </perfect-scrollbar>
  <section class="popup-window-footer">
    <button class="button-flat"
            [translate]="'usersManagement.userProfile.footer.buttonClose'"
            (click)="onCancel()">
    </button>
    <div class="tooltip save-changes-button">
      <span class="tooltip-bottom one-line"
            *ngIf="!formValid">
        <p [translate]="'usersManagement.userProfile.footer.buttonActionTooltip'"></p>
      </span>
      <button class="button-action"
              [translate]="'usersManagement.userProfile.footer.buttonAdd'"
              [disabled]="!formValid"
              (click)="onSave()">
      </button>
    </div>
  </section>
</div>
