@import '_old-main';
@import '../../../../styles/_old/layout/popup';
@import '_old/future-component/tooltip';

.popup-window {
  overflow: visible;
}

.popup-window-content {
  padding: 24px 24px 0;
  overflow: hidden;
}

.popup-window-footer {
  padding: 24px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;

  & > * {
    margin-left: 21px;
  }

  button {
    margin-left: 0;
  }

  &:after {
    display: none;
  }
}
