<div class="form__section">
  <h2 class="mat-title">Selected Reasoning Branche(s)</h2>
  <div class="form__content">
    <mat-list>
      <mat-list-item class="mat-list-item--divided">
        <div class="mat-list-item__column">
          Decision Tree ID
        </div>
        <div class="mat-list-item__column mat-list-item__column--align-right">
          Value
        </div>
      </mat-list-item>
      <mat-list-item class="mat-list-item--divided">
        <div class="mat-list-item__column">
          Reasoning Branches (count)
        </div>
        <div class="mat-list-item__column mat-list-item__column--align-right">
          Value
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
