<div class="form__section">
  <h2 class="mat-title" [translate]="translatePrefix + 'title'"></h2>
  <div class="form__content">
    <mat-list>
      <mat-list-item>
        <div class="values-list values-list--horizontal">
          <p class="mat-body" [translate]="translatePrefix + 'decisionTree'"></p>
          <p class="mat-body values-list__value--right">{{ decisionTreeId }}</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="values-list values-list--horizontal">
          <p class="mat-body" [translate]="translatePrefix + 'reasoningBranchesCount'"></p>
          <p class="mat-body values-list__value--right">{{ reasoningBranchesCount }}</p>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
