<app-decision-tree-operations></app-decision-tree-operations>
<app-preloader class="preload-page" [class.is-active]="!firstTimeLoaded"></app-preloader>

<header class="page-header">
  <div class="page-header-content">
    <h1 class="page-name"
        [translate]="'decisionTrees.title'"></h1>
    <div class="page-options">
      <div class="input-field-icon search-decision-tree">
        <i class="input-field-icon-left"
           aria-label="Search"
           [inlineSVG]="'../../../assets/icons/search.svg'"></i>
        <input class="input-field input-field-icon-left-space"
               [(ngModel)]="searchText"
               placeholder="{{'decisionTrees.options.search' | translate}}">
      </div>
      <button *ngIf="hasDecisionTreeManageAccess"
              (click)="onCreateDecisionTree()" class="button-outline"
              [translate]="'modal.createNewDecisionTree.title'"></button>
    </div>
  </div>
  <div class="page-header-subsection"></div>
</header>
<app-decision-trees-list-table
        class="page-module decision-trees-list-table"
        *ngIf="showDecisionTrees(activeDecisionTrees)"
        [decisionTrees]="activeDecisionTrees | filter:searchText:'name' | sort:'name'"
        [title]="'decisionTrees.table.active.title'">
</app-decision-trees-list-table>
<app-decision-trees-list-table
        class="page-module decision-trees-list-table"
        *ngIf="showDecisionTrees(inactiveDecisionTrees)"
        [decisionTrees]="inactiveDecisionTrees | filter:searchText:'name' | sort:'name'"
        [title]="'decisionTrees.table.inactive.title'">
</app-decision-trees-list-table>
