@import 'abstracts/8-pt-grid';

.user-details,
.app-info {
  padding: 0 calculate-8-pt-grid(2);
}

.user-details {
  min-width: 200px;

  &__username {
    margin-bottom: 0;
  }

  &__displayname {
    margin-top: 0;
  }
}

.app-info {
  padding-top: calculate-8-pt-grid(1);

  &__version {
    margin: 0;
  }
}
