<ng-container *ngIf="userDetails">
  <button mat-button [matMenuTriggerFor]="userMenu">
    {{ userDetails.displayName }}
  </button>

  <mat-menu #userMenu="matMenu">
    <div class="user-details">
      <p class="mat-body-strong user-details__username">
        {{ userDetails.displayName }}
      </p>
      <p class="mat-caption user-details__displayname">
        @{{ userDetails.userName }}
      </p>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logOutClick.emit()">
      <mat-icon>exit_to_app</mat-icon>
      <span [translate]="'appBar.userMenu.navigation.signOut'"></span>
    </button>
    <ng-container *ngIf="appVersion">
      <mat-divider></mat-divider>
      <div class="app-info">
        <p class="mat-caption app-info__version">SENS Web App (version {{ appVersion }})</p>
      </div>
    </ng-container>
  </mat-menu>
</ng-container>
