<app-overlay [class.is-active]="show"></app-overlay>
<div class="popup-window" [class.is-active]="show">
  <div class="popup-window-header">
    <h1 class="popup-window-title"
        [translate]="'branch.confirm.content.header'"
        [translateParams]="{branchId: branchId}">
    </h1>
  </div>
  <perfect-scrollbar>
    <div class="popup-window-content">
      <p [translate]="'branch.confirm.content.description'"></p>
    </div>
  </perfect-scrollbar>
  <section class="popup-window-footer">
    <button class="button-flat" (click)="cancel()"
            [translate]="'branch.confirm.footer.buttonCancel'"></button>
    <button class="button-action" (click)="confirm()"
            [translate]="'branch.confirm.footer.buttonConfirm'"></button>
  </section>
</div>
