<app-overlay [class.is-active]="show"></app-overlay>
<div class="popup-window" [class.is-active]="show">
  <div class="popup-window-header">
    <h1 class="popup-window-title"
        [translate]="'modal.createNewDecisionTree.title'"></h1>
  </div>
  <app-preloader class="preload-element" [class.is-active]="inProgress"></app-preloader>
  <perfect-scrollbar>
    <div class="popup-window-content" *ngIf="config && config.modelSelector">
      <app-feedback-message
              [class.is-active]="!dirty['name'] && !dirty['model'] && isOtherServerError()"
              [message]="errorKey" class="error"></app-feedback-message>
      <app-feedback-message [class.is-active]="!dirty['name'] && errorNameExist"
                            [message]="'modal.editDecisionTree.name.error.usedName'" class="error"></app-feedback-message>
      <app-feedback-message [class.is-active]="dirty['name'] && isNameEmpty()"
                            [message]="'modal.editDecisionTree.name.error.emptyField'"
                            class="error"></app-feedback-message>
      <app-feedback-message [class.is-active]="dirty['name'] && isNameTooLong()"
                            [message]="'modal.editDecisionTree.name.error.longName'"
                            class="error"></app-feedback-message>

      <app-feedback-message [class.is-active]="!dirty['model'] && isModelServerError()"
                            [message]="errorKey" class="error"></app-feedback-message>
      <app-feedback-message [class.is-active]="dirty['model'] && hasEmptyModel()"
                            [message]="'modal.editDecisionTree.model.error.emptyModel'"
                            class="error"></app-feedback-message>
      <div class="field-row">
        <div class="field-row-label required">
          <label [translate]="'modal.editDecisionTree.name.title'"></label>
        </div>
        <div class="field-row-option-horizontal-space-between">
          <input class="input-field"
                 placeholder="{{ 'modal.createNewDecisionTree.inputPlaceholder' | translate }}"
                 [(ngModel)]="config.name"
                 (ngModelChange)="onChangeName()"
                 #dtName>
        </div>
      </div>
      <div class="field-row">
        <div class="field-row-label required">
          <label [translate]="'modal.editDecisionTree.model.title'"></label>
        </div>
        <div class="field-row-option-horizontal-left">
          <div class="select-dropdown">
            <p *ngIf="!optionSelected"
               class="select-placeholder"
               [translate]="'modal.createNewDecisionTree.modelPlaceholder'"></p>
            <app-icon [name]="'arrow'"></app-icon>
            <select class="input-field"
                    [(ngModel)]='optionSelected'
                    (ngModelChange)='onChangeModel(optionSelected)'
                    [class.is-active]="selectedModel">
              <option *ngFor="let option of config.modelSelector.options"
                      [ngValue]="option">
                {{option.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
  <section class="popup-window-footer">
    <button class="button-outline" (click)="close()"
            [translate]="'modal.button.cancel'"></button>
    <button class="button-action"
            [disabled]="shouldDisableConfirmButton()"
            [translate]="'modal.createNewDecisionTree.actionButton'"
            (click)="confirm()"></button>
  </section>
</div>
