@import '_old/variables';

.dynamic-view-table {
  .dynamic-view-labels,
  .dynamic-view-row {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
  }
}

.dynamic-view-labels {
  @extend %label;
  color: #333333;
  font-weight: 700;
  height: $table-head-height + 1px;
  line-height: $table-head-height;

  .dynamic-view-column {
    position: relative;

    &::after {
      border-top: 1px solid #e6e5e5;
      content: '';
      height: 1px;
      top: 0px;
      position: absolute;
      width: 100%;
      left: 0;
    }
  }
}

.dynamic-view-row {
  height: $table-row-height + 2px;
  line-height: $table-row-height;

  ::ng-deep {
    .inactive,
    .no-data {
      color: $color-disabled-label;
    }
  }

  .row-options {
    position: absolute;
    right: 0;
    height: $table-row-height - 1px;
    transform: translateY(1px);
    padding: 0px $space-xl;
    line-height: $table-row-height - 1px;
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    .dynamic-view-column {
      background: $color-table-row-hover;
    }

    .row-options {
      background: $color-table-row-hover;
      visibility: visible;
      opacity: 1;
    }
  }

  &:last-child {
    .dynamic-view-column {
      border-bottom: 0;
    }
  }
}

.dynamic-view-column {
  border-bottom: $border-separator;
  padding: 0 ($space-table-gap / 2);

  &:first-child {
    padding-left: $space-xl;
  }

  &:last-child {
    padding-right: $space-xl;
  }
}

.table-error {
  background: $color-background-body;
  left: 0;
  min-height: 125px;
  position: relative;
  top: 0;
  width: 100%;

  & > div {
    color: $color-text-light;
    font-size: $font-size-xl;
    font-weight: 700;
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
