{
  "localhost": {
    "client-secret": "<<PUT CLIENT SECRET FOR DEV HERE>>"
  },
  "dev": {
    "client-secret": "<<PUT CLIENT SECRET FOR DEV HERE>>"
  },
  "uat": {
    "client-secret": "<<PUT CLIENT SECRET FOR UAT HERE>>"
  }
}
