<app-state *ngIf="!changeRequestDetails"
           [stateContent]="previewEmptyState"></app-state>

<ng-container *ngIf="changeRequestDetails">
  <div class="change-request-details">
    <app-change-request-preview
            [changeRequestData]="generateChangeRequestContent()"
            [changeRequestID]="generateChangeRequestHeader()"
    ></app-change-request-preview>
    <mat-divider></mat-divider>
    <div class="sidebar-details__section">
      <div class="values-list values-list--vertical">
        <p class="mat-body" [translate]="translatePrefixDecision + 'title'"></p>
        <div class="change-request-details__decision"
             *ngIf="canApproveOrReject()">
          <button mat-stroked-button color="warn" (click)="openRejectDialog()">
            <span [translate]="translatePrefixDecision + 'buttons.reject'"></span>
          </button>
          <button mat-stroked-button color="positive" (click)="openApproveDialog()">
            <span [translate]="translatePrefixDecision + 'buttons.approve'"></span>
          </button>
        </div>
        <button *ngIf="canCancel() && !canApproveOrReject()"
                mat-stroked-button
                color="warn"
                class="mat-button-base--full-width"
                (click)="openCancelDialog()">
          <span [translate]="translatePrefixDecision + 'buttons.cancel'"></span>
        </button>
      </div>
    </div>
  </div>
</ng-container>
