@import 'abstracts/8-pt-grid';

.change-request-details {
  &__headline {
    padding: calculate-8-pt-grid(2) calculate-8-pt-grid(2) 0;
  }

  &__section {
    margin-bottom: calculate-8-pt-grid(1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__comment {
    height: unset;
  }

  &__decision {
    display: grid;
    grid-column-gap: calculate-8-pt-grid(2);
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

