<mat-expansion-panel class="error-card" [class.error-card--margin]="errorContent.margin == true">
  <mat-expansion-panel-header class="error-card__header">
    <mat-panel-title>
      <mat-icon color="warn">error</mat-icon>
      <span class="error-card__title"
            [translate]="errorContent.title"
      ></span>
      <span *ngIf="errorContent.elements.length != 0"> &nbsp; ({{errorContent.elements.length}})</span>
    </mat-panel-title>
    <mat-panel-description class="error-card__cta">
      Check details
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p
          class="mat-body"
          [translate]="errorContent.description"
          *ngIf="errorContent.description"
  ></p>
  <ul
          class="error-card__list"
          *ngIf="errorContent.elements"
  >
    <li *ngFor="let element of errorContent.elements" class="error-card__list-item">
      <p class="mat-body">{{element}}</p>
      <mat-divider></mat-divider>
    </li>
  </ul>
</mat-expansion-panel>
