@import 'abstracts/8-pt-grid';

$contentHeight: calc(100% - 65px);

.app-container {
  background: #ffffff;
  height: $contentHeight;

  &__navigation {
    display: none;
    width: 264px;
    padding: 0 calculate-8-pt-grid(2);

    &--active {
      display: block;
    }
  }

  &__content {
    z-index: 10; // NOTE fix for the old overlay - TODO Remove with old styles
  }
}
