@import 'src/styles/abstracts/8-pt-grid';

.app-container {
  background: #ffffff;
  height: calc(100vh - 65px);

  &__navigation {
    padding-bottom: calculate-8-pt-grid(2);
    padding-top: calculate-8-pt-grid(2);
    width: 256px;
    border-right-color: transparent;
  }

  &__content {
    padding: calculate-8-pt-grid(2) calculate-8-pt-grid(2);
    z-index: 10; // NOTE fix for the old overlay - TODO Remove with old styles
  }
}
