<app-app-bar class="mat-elevation-z2"></app-app-bar>
<app-error-window></app-error-window>
<app-brief-message></app-brief-message>

<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" disableClose opened class="app-container__navigation"
               [class.app-container__navigation--active]="showNavigation">
    <div class="content-internal-margin--vertical">
      <app-sidenav (showNavigation)="shouldShowNavigation($event)"></app-sidenav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="app-container__content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
