@import '_old/mixins';
@import '_old/variables';

:host {
  display: block;
}

.feedback-message-wrapper {
  @include transition(all, $transition-slow, ease-in-out);
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: 0;
  visibility: hidden;
}

:host(.is-active) {
  .feedback-message-wrapper {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
  }
}

.feedback-message {
  border-radius: $border-radius-element;
  color: $color-text-white;
  font-weight: 400;
  line-height: 16px;
  padding: $space-s $space-m;
  text-align: center;
}

:host(.margin-bottom-l) {
  .feedback-message {
    margin-bottom: $space-l;
  }
}

:host(.margin-bottom-xl) {
  .feedback-message {
    margin-bottom: $space-xl;
  }
}

:host(.margin-top-l) {
  .feedback-message {
    margin-top: $space-l;
  }
}

:host(.margin-top-xl) {
  .feedback-message {
    margin-top: $space-xl;
  }
}

:host(.error) {
  .feedback-message {
    background: $color-feedback-error-background;
  }
}

:host(.info) {
  .feedback-message {
    background: $color-feedback-info-background;
  }
}

:host(.positive) {
  .feedback-message {
    background: $color-feedback-positive-background;
  }
}

:host(.warning) {
  .feedback-message {
    background: $color-feedback-warning-background;
  }
}
