<div class="hint-feedback" *ngIf="settings.visible">
  <div class="{{ hintType }}"></div>
  <div class="hint-feedback-content">
    <div class="hint-feedback-content-header" *ngIf="settings.title">
      <h2 class="hint-feedback-content-header-title">{{ settings.title }}</h2>
    </div>
    <p class="hint-feedback-content-description-primary" *ngIf="settings.descriptionPrimary">{{ settings.descriptionPrimary }}</p>
    <ul class="hint-feedback-content-elements-list" *ngIf="settings.elementsList">
      <li *ngFor="let element of settings.elementsList">
        <ng-container *ngIf="!element.url">
          {{ element.label }}
        </ng-container>
        <ng-container *ngIf="element.url">
          <a routerLink="{{ element.url }}">{{ element.label }}</a>
        </ng-container>
      </li>
    </ul>
    <p class="hint-feedback-content-description-secondary" *ngIf="settings.descriptionSecondary">{{ settings.descriptionSecondary }}</p>
    <ul class="hint-feedback-content-footer" *ngIf="settings.options">
      <li *ngFor="let option of settings.options">
        <a class="button-outline" routerLink="{{option.url}}">
          {{ option.label }}
        </a>
      </li>
      <ng-content></ng-content>
    </ul>
  </div>
</div>
