@import 'variables';
@import 'mixins';

.user-section {
  margin-left: $space-l;
  padding: 0 $space-l;
  position: relative;

  &::after {
    @include transition(all, $transition-fast, ease-in-out);
    background: $color-element-hover-background;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(.5);
    width: 100%;
    z-index: -1;
  }

  &:focus-within,
  &:hover {
    &::after {
      opacity: 1;
      transform: scale(1);
    }
  }

  .user-menu-trigger {
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    height: $app-header-height;
    max-width: 100px;
    text-align: right;

    & > * {
      display: block;
      white-space: nowrap;
    }

    .user-info-label {
      color: $color-text-light;
      font-size: $font-size-s;
      font-weight: 400;
    }

    .user-info-username {
      font-weight: 700;
      margin-top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }


  .user-info {
    display: flex;

    .user-info-label {
      margin-bottom: 0;
      margin-top: 5px;
    }

    .user-data {
      flex: 1;

      .username {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .username-primary,
        .username-secondary {
          word-break: break-all;
        }

        .username-primary {
          color: $color-text;
          font-weight: 700;
        }

        .username-secondary {
          color: $color-text-light;
        }
      }
    }

    .user-image {
      $size-user-image: 45px;
      background: $-color-gray-05;
      border-radius: 50%;
      height: $size-user-image;
      margin-right: $space-m;
      overflow: hidden;
      text-align: center;
      width: $size-user-image;

      img {
        max-width: 100%;
      }
    }
  }

  .app-version {
    color: $color-text-light;
    font-size: $font-size-s;
    white-space: nowrap;
  }
}

