<?xml version="1.0" encoding="UTF-8"?>

<included>
  <logger name="javax.activation" level="WARN"/>
  <logger name="javax.mail" level="WARN"/>
  <logger name="javax.management.remote" level="WARN"/>
  <logger name="javax.xml.bind" level="WARN"/>

  <logger name="ch.qos.logback" level="WARN"/>
  <logger name="com.sun" level="WARN"/>
  <logger name="com.zaxxer" level="INFO"/>
  <logger name="freemarker.cache" level="INFO"/>
  <logger name="io.grpc.Context" level="INFO"/>
  <logger name="io.grpc.internal.AbstractManagedChannelImplBuilder" level="INFO"/>
  <logger name="io.grpc.internal.AbstractServerImplBuilder" level="INFO"/>
  <logger name="io.grpc.netty" level="WARN"/>
  <logger name="io.micrometer" level="INFO"/>
  <logger name="io.perfmark.PerfMark" level="INFO"/>
  <logger name="io.undertow" level="WARN"/>
  <logger name="io.undertow.websockets.jsr" level="ERROR"/>
  <logger name="liquibase" level="INFO"/>
  <logger name="LiquibaseSchemaResolver" level="INFO"/>
  <logger name="org.apache" level="WARN"/>
  <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
  <logger name="org.bson" level="WARN"/>
  <logger name="org.hibernate" level="WARN"/>
  <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
  <logger name="org.hibernate.validator" level="WARN"/>
  <logger name="org.postgresql" level="WARN"/>
  <logger name="org.quartz" level="INFO"/>
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.springframework.beans" level="INFO"/>
  <logger name="org.springframework.boot.liquibase" level="INFO"/>
  <logger name="org.springframework.cache" level="WARN"/>
  <logger name="org.springframework.cloud.consul" level="INFO"/>
  <logger name="org.springframework.context" level="INFO"/>
  <logger name="org.springframework.core" level="INFO"/>
  <logger name="org.springframework.orm.jpa" level="INFO"/>
  <logger name="org.springframework.security" level="WARN"/>
  <logger name="org.springframework.transaction" level="INFO"/>
  <logger name="org.springframework.web" level="WARN"/>
  <logger name="org.xnio" level="WARN"/>
  <logger name="springfox" level="WARN"/>
  <logger name="springfox.documentation.schema.property" level="ERROR"/>
  <logger name="sun.net" level="WARN"/>
  <logger name="sun.rmi" level="WARN"/>
  <logger name="sun.rmi.transport" level="WARN"/>
  <logger name="Hibernate Types" level="OFF"/>
</included>
