<ng-container *ngIf="control">
  <div class="field-row">
    <div class="field-row-label">
      <label class="required"
             [translate]="'decisionTree.branchReject.changeRequest.commentChanges.label'">
      </label>
    </div>
    <div class="field-row-option-horizontal-left">
      <app-input-text-window
              [placeholder]="'decisionTree.branchUpdater.changeRequest.commentChanges.input.placeholder'"
              [textAreaValue]="control.value"
              (outputValue)="updateComment($event)"></app-input-text-window>
    </div>
  </div>
</ng-container>
