Matching text {{ matching_text }}
{%- if iec_match %} is part of IEC number {{ iec_match }}
{%- elif inv_no_match %} is part of invoice number {{ inv_no_match }}
{%- elif acc_no_match %} is part of account number {{ acc_no_match }}
{%- elif pan_no_match %} is part of PAN number {{ pan_no_match }}
{%- elif matched_sequence_context %} is part of longer sequence "
    {{- matched_sequence_context|replace('\n', '') -}}
    "
{%- endif -%}
. It was partially matched against watchlist {{ wl_type|lower }} search code {{ partial_match }}.
