@import '_old/components/popup-full-screen';


.branch-reject-changes {
  margin-bottom: $space-xxl;

  .field-row-label {
    width: 130px;
  }

  .select-dropdown {
    max-width: 426px;
  }
}

.branch-reject-changes-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: $space-l;

  & > * {
    margin-right: $space-between-related-elements;

    &:last-child {
      margin-right: 0;
    }
  }
}

.selected-reasoning-branches {
  ::ng-deep {
    .dynamic-view-labels,
    .dynamic-view-row {
      grid-template-columns: 80px;
    }
  }
}
