@mixin font-face($family, $name, $style, $weight) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: url('assets/fonts/#{$name}.ttf');
  }
}

@include font-face(Roboto, roboto-light, normal, 300);
@include font-face(Roboto, roboto-lightitalic, italic, 300);

@include font-face(Roboto, roboto-regular, normal, 400);
@include font-face(Roboto, roboto-italic, italic, 400);

@include font-face(Roboto, roboto-medium, normal, 500);
@include font-face(Roboto, roboto-mediumitalic, italic, 500);
