// This file contains a set of styles that define the fundamental principles on which the entire User Interface is based.

*,
*::before,
*::after {
  box-sizing: border-box;
}

// sass-lint:disable-all
::-ms-clear,
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}
// sass-lint:enable-all


// TODO Patryk Górski add to typography file (NSWEB-323)

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
blockquote {
  margin: 0;
  padding: 0;
}

// TODO Patryk Górski (future tasks)

input,
textarea,
button,
select {
  outline: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
