<app-application-header></app-application-header>
<div class="rb-management">
  <div class="rb-management-wrapper">
    <div class="rb-management-header">
      <app-load-branch></app-load-branch>
    </div>
    <div class="rb-management-details module">
      <div class="rb-management-details-header">
        <h2 [translate]="'branch.details.title'"></h2>
      </div>
      <app-branch-empty-state *ngIf="!showDetails" [emptyStateMessage]="emptyStateMessage"></app-branch-empty-state>
      <app-branch-details *ngIf="showDetails"
                          [branchDetails]="branchDetails"
                          (confirm)="showConfirm()"></app-branch-details>
    </div>
  </div>
</div>

<app-confirm-changes [show]="showConfirmWindow"
                     [branchId]="branchDetails.branchId"
                     (closeModal)="hideConfirm()"
                     (applyChanges)="applyChanges()"></app-confirm-changes>
