<app-application-header></app-application-header>

<div class="rb-management">
  <div class="rb-management-wrapper">
    <div class="rb-management-header">
      <app-load-branch #loadBranch
                       (loadBranch)="onLoadBranchSubmitClicked($event)">
      </app-load-branch>
    </div>
    <div class="rb-management-details module" style="position: relative;">
      <div class="rb-management-details-header">
        <h2 [translate]="'branch.details.title'"></h2>
      </div>

      <div *ngIf="!showDetails && !inProgress" [ngSwitch]="emptyState">
        <app-branch-empty-state *ngSwitchDefault
                                [message]="'branch.emptyState.default.message'"
                                [hint]="'branch.emptyState.default.description'"
        ></app-branch-empty-state>
        <app-branch-empty-state *ngSwitchCase="'NORESULTS'"
                                [message]="'branch.emptyState.noResults.message'"
        ></app-branch-empty-state>
        <app-branch-empty-state *ngSwitchCase="'TIMEOUT'"
                                [message]="'branch.emptyState.timeOut.message'"
                                [hint]="'branch.emptyState.timeOut.description'"
        ></app-branch-empty-state>
      </div>
      <app-preloader 
        class="preload-content is-active"
        *ngIf="inProgress">
      </app-preloader>
      <app-feedback-message *ngIf="failedAppliedChanges && !inProgress"
                            [message]="'branch.confirm.feedback.failed'"
                            class="error is-active"
                            style="margin: 24px 24px 0;"></app-feedback-message>
      <app-branch-details *ngIf="showDetails && !inProgress"
                          #branchDetailsForm
                          [fullId]="fullId"
                          [branchDetails]="branchDetails"
                          (confirm)="showConfirm()"></app-branch-details>
    </div>
  </div>
</div>

<app-confirm-changes [show]="showConfirmWindow"
                     [branchId]="showConfirmWindow ? fullId : null"
                     (closeModal)="hideConfirm()"
                     (applyChanges)="applyChanges()"></app-confirm-changes>
