@import 'variables';

$height-tag: 20px;

.tag {
  border-radius: $border-radius-element;
  color: $color-text-white;
  display: inline-block;
  font-size: $font-size-m - 2;
  font-weight: 700;
  height: $height-tag;
  line-height: $height-tag + 1;
  padding: 0 $space-xs;
  text-transform: capitalize;
  white-space: pre;
}

:host(.active-bt),
:host(.superuser),
:host(.active) {
  .tag {
    background: $color-feedback-positive-background;
  }
}

:host(.assigned) {
  .tag {
    background: $color-feedback-info-background;
  }
}


:host(.potential-true-positive) {
  .tag {
    background: $color-ai-ptp;
  }
}

:host(.no-decision) {
  .tag {
    background: $color-ai-nd;
  }
}

:host(.superuser-disabled){
  .tag {
    background: $color-text-light;
  }
}

:host(.false-positive) {
  .tag {
    background: $color-ai-fp;
  }
}
