<mat-accordion>
  <mat-expansion-panel *ngFor="let circuitBreakerElement of circuitBreakerList"
                       [attr.id]="'Location' + circuitBreakerElement.id"
                       (opened)="loadDiscrepancies(
                       circuitBreakerElement.discrepantBranchId.decisionTreeId,
                       circuitBreakerElement.discrepantBranchId.featureVectorId
                       )"
                       class="mat-expansion-panel--flat mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ translatePrefix + 'header.id' | translate:{
        decisionTreeId: circuitBreakerElement.discrepantBranchId.decisionTreeId,
        reasoningBranchId: circuitBreakerElement.discrepantBranchId.featureVectorId
      } }}
      </mat-panel-title>
      <mat-panel-description>
        {{ translatePrefix + 'header.disabled' | translate:{
        date: circuitBreakerElement.detectedAt | date:'yyyy-mm-dd hh:mm:ss'
      } }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-state *ngIf="loadingDetails"
               [stateContent]="stateLoading"></app-state>
    <app-state *ngIf="showError"
               [stateContent]="stateError"></app-state>
    <ng-container *ngIf="showDetails">
      <app-circuit-breaker-alerts-table [discrepanciesList] = discrepanciesList></app-circuit-breaker-alerts-table>
      <mat-action-row>
        <button mat-flat-button
                color="primary"
                (click)="createChangeRequest(
                circuitBreakerElement.discrepantBranchId.decisionTreeId,
                circuitBreakerElement.discrepantBranchId.featureVectorId
                )">
          <span [translate]="translatePrefix + 'footer.buttonChangeRequest'"></span>
        </button>
      </mat-action-row>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
