<mat-accordion>
  <mat-expansion-panel *ngFor="let circuitBreakerElement of circuitBreakerList"
                       [attr.id]="'Location' + circuitBreakerElement.id"
                       (opened)="initDiscrepanciesTable(
                       circuitBreakerElement.branchId.decisionTreeId,
                       circuitBreakerElement.branchId.featureVectorId
                       )"
                       (closed)="resetDiscrepanciesTable()"
                       class="mat-expansion-panel--flat mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ translatePrefix + 'header.id' | translate:{
        decisionTreeId: circuitBreakerElement.branchId.decisionTreeId,
        reasoningBranchId: circuitBreakerElement.branchId.featureVectorId
      } }}
      </mat-panel-title>
      <mat-panel-description>
        {{ translatePrefix + 'header.disabled' | translate:{
        date: circuitBreakerElement.detectedAt | date:'yyyy-mm-dd hh:mm:ss'
      } }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-state *ngIf="loadingDetails"
               [stateContent]="stateLoading"></app-state>
    <app-state *ngIf="showError"
               [stateContent]="stateError"></app-state>
    <ng-container *ngIf="showDetails">
      <div class="dynamic-table" [class.dynamic-table--loading]="loadingTableContent">
        <div class="dynamic-table__spinner-container">
          <mat-spinner></mat-spinner>
        </div>
        <app-circuit-breaker-alerts-table
                [discrepanciesList]="discrepanciesList"
                (page)="reloadTableContent($event)"></app-circuit-breaker-alerts-table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                     showFirstLastButtons
                     [length]="numberOfRows"
                     (page)="reloadTableContent($event)"></mat-paginator>
      <mat-action-row>
        <button mat-flat-button
                color="primary"
                (click)="createChangeRequest(
                circuitBreakerElement.branchId.decisionTreeId,
                circuitBreakerElement.branchId.featureVectorId
                )">
          <span [translate]="translatePrefix + 'footer.buttonChangeRequest'"></span>
        </button>
      </mat-action-row>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
