@import 'color-palette';

$color-accent: $-color-brand-500;

$color-background-body: $-color-gray-blue;
$color-background-element: $-color-white;

$color-action: hsl(206, 100%, 50%);

$color-ai-ptp: hsl(360, 90%, 60%);
$color-ai-fp: hsl(140, 80%, 45%);
$color-ai-nd: hsl(0, 0%, 60%);

$color-status-active: hsl(120, 80%, 50%);
$color-status-inactive: $-color-gray-20;

$color-label: $-color-gray-70;

$color-text-primary: $-color-gray-80;
$color-text-secondary: $-color-gray-50;

// TODO REFACTOR Patryk Górski

// $color-status-error: ;
// $color-status-progress: ;

$color-element-hover-background: $-color-gray-05;
$color-element-border: $-color-gray-20;

$color-action-background: $-color-blue-500;
$color-action-border: $-color-blue-400;
$color-action-hover: $-color-blue-400;

$color-negative-background: $-color-red-500;
$color-negative-hover: $-color-red-400;

$color-action-positive-background: $-color-green-700;
$color-action-negative-background: $-color-red-700;
$color-text: $-color-gray-80;
$color-text-light: $-color-gray-30;
$color-text-white: $-color-white;

$color-text-header: $-color-gray-90;

$color-shadow-black: hsla(hue($-color-black), saturation($-color-black), lightness($-color-black), .13);

$color-overlay: hsla(hue($-color-white), saturation($-color-white), lightness($-color-white), .85);

$color-border-light: hsl(220, 9%, 87%);
$color-border: $-color-gray-20;

$color-disabled-label: $-color-gray-30;
$color-disabled-background: $-color-gray-05;

$color-icon: $-color-gray-40;
$color-icon-white: $-color-white;
$color-icon-hover: $-color-blue-700;

$color-form-border: $-color-gray-30;

$color-feedback-positive-label: $-color-green-700;
$color-feedback-positive-background: $-color-green-500;

$color-feedback-error-label: $-color-red-700;
$color-feedback-error-border: $-color-red-700;
$color-feedback-error-background: $-color-red-500;
$color-feedback-error-background-transparent: hsla(hue($-color-red-500), saturation($-color-red-500), lightness($-color-red-500), .14);

$color-feedback-info-label: $-color-blue-700;
$color-feedback-info-background: $-color-blue-500;

$color-feedback-warning-label: $-color-orange-700;
$color-feedback-warning-background: $-color-orange-700;

$color-loading-background: $-color-gray-10;

$color-feedback-processing-background: $-color-blue-700;

$color-table-row-link-hover: #f6fbff;
$color-table-row-hover: #f6fbff;

$color-label-green: $-color-green-500;
