<form *ngIf="form" [formGroup]="form">
  <section class="module section-popup">
    <div class="module-content">
      <app-user-display-name-option
              [control]="form.get('displayName')"></app-user-display-name-option>
      <app-user-username-option [control]="form.get('userName')"></app-user-username-option>
      <app-user-password-option
              *ngIf="withPassword"
              [passwordControl]="form.get('password')"
              [repeatPasswordControl]="form.get('repeatPassword')">
      </app-user-password-option>
      <app-user-super-user-option [control]="form.get('superUser')"></app-user-super-user-option>

    </div>
  </section>
  <app-user-roles-option [control]="form.get('roles')"
                         *ngIf="!form.get('superUser').value"></app-user-roles-option>
</form>
