<ng-container *ngIf="activations || assignments">

  <section class="module section-page">
    <div class="module-header">
      <h2 class="module-title">
        <span [translate]="'decisionTree.infobox.batchTypes.title'"></span>
        <span *ngIf="assignments.length > 0 || activations.length > 0">
        (<span *ngIf="activations.length > 0">{{ activations.length }} Active</span>
          <span *ngIf="assignments.length > 0 && activations.length > 0"> / </span>
          <span *ngIf="assignments.length > 0">{{ assignments.length }} Assigned</span>)
        </span>
      </h2>
    </div>
    <perfect-scrollbar class="module-content">
      <app-decision-tree-batch-types-list
              [class.lists-separator]="assignments.length > 0"
              *ngIf="activations.length > 0"
              [batchTypeList]="activations"
              [batchTypeStatus]="'Active'"></app-decision-tree-batch-types-list>

      <app-decision-tree-batch-types-list
              *ngIf="assignments.length > 0"
              [batchTypeList]="assignments"
              [batchTypeStatus]="'Assigned'"></app-decision-tree-batch-types-list>

      <app-empty-state *ngIf="assignments.length === 0 && activations.length === 0"
                       class="empty-state-content"
                       [label]="'decisionTree.infobox.batchTypes.emptyState'"></app-empty-state>
    </perfect-scrollbar>
  </section>

</ng-container>
