@import '../../functions/decimal-round';

$golden-ratio: 1.618;

@function half-golden-ratio-up ($value) {
  @return ((($value * $golden-ratio) - $value) / 2) + $value;
}

@function half-golden-ratio-down ($value) {
  @return ((($value / $golden-ratio) - $value) / 2) + $value;
}

$golden-ratio-descending-half-of-1: decimal-round(half-golden-ratio-down($base-size));
$golden-ratio-descending-1: decimal-round($base-size / $golden-ratio);
$golden-ratio-descending-half-of-2: decimal-round(half-golden-ratio-down($golden-ratio-descending-1));
$golden-ratio-descending-2: decimal-round($golden-ratio-descending-1 / $golden-ratio);
$golden-ratio-descending-half-of-3: decimal-round(half-golden-ratio-down($golden-ratio-descending-2));
$golden-ratio-descending-3: decimal-round($golden-ratio-descending-2 / $golden-ratio);

$golden-ratio-ascending-half-of-1: decimal-round(half-golden-ratio-up($base-size));
$golden-ratio-ascending-1: decimal-round($base-size * $golden-ratio);
$golden-ratio-ascending-half-of-2: decimal-round(half-golden-ratio-up($golden-ratio-ascending-1));
$golden-ratio-ascending-2: decimal-round($golden-ratio-ascending-1 * $golden-ratio);
$golden-ratio-ascending-half-of-3: decimal-round(half-golden-ratio-up($golden-ratio-ascending-2));
$golden-ratio-ascending-3: decimal-round($golden-ratio-ascending-2 * $golden-ratio);
$golden-ratio-ascending-half-of-4: decimal-round(half-golden-ratio-up($golden-ratio-ascending-3));
$golden-ratio-ascending-4: decimal-round($golden-ratio-ascending-3 * $golden-ratio);


