@import '_old/variables';

.shortcuts ::ng-deep {
  background: $color-background-element;
  border-top: $border-outline;
  display: block;
  font-size: $font-size-xs;
  list-style-type: none;
  padding: $space-m;

  li {
    border-right: $border-separator;
    color: $color-text-light;
    display: inline-block;
    margin-right: $space-m;
    padding-right: $space-m;

    &:last-child {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
    }

    span {
      background: $color-background-element;
      border: $border-outline;
      border-radius: 5px;
      color: $color-text;
      font-weight: 700;
      margin: 0 2px;
      padding: 2px 5px;
    }
  }
}

