.restrictions-table {
  position: relative;
  top: -1px;

  ::ng-deep {
    .dynamic-view-labels,
    .dynamic-view-row {
      grid-template-columns: repeat(3, minmax(1px, 1fr)) 186px;
      white-space: nowrap;
    }

    .dynamic-view-column {
      &::after {
        display: none;
      }
    }
  }
}
