@import 'variables';

.application-header {
  background: $color-background-element;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.13);
  display: flex;
  height: $app-header-height;
  position: relative;
  width: 100%;
  z-index: 1000;

  .logo-section {
    line-height: $app-header-height;
    padding: 0 $space-l;

    .silent-eight-logo {
      ::ng-deep {
        height: $app-header-logo-height;
        margin-top: ($app-header-height - $app-header-logo-height) / 2 - 1;

        svg {
          height: 100%;
        }
      }
    }
  }

  .empty-space {
    flex: 1;
  }

}
