<div class="inbox-reasoning-branch" *ngIf="description" [style.height.px]="showEverything">
  <div #messageContent class="inbox-reasoning-branch-content">
    <div class="element">
      <a class="element-name link" routerLink="{{ description.branchLink.url }}">
        {{ description.branchLink.name }}
      </a>
    </div>
    <div class="notification-content">
      <p class="description-placeholder" [hidden]="showEverything"
         [innerHTML]="description.messageKey | translate:{ value: description.aiDecision }">
      </p>
      <p class="description-full" [class.is-active]="showEverything"
         [innerHTML]="description.messageKey | translate:{ value: description.aiDecision }">
      </p>
      <p class="label"
             [translate]="'inbox.messagesList.types.reasoningBranch.labelAlertsList'"></p>
      <ul class="alerts-list">
        <li *ngFor="let alertInfo of description.alertInfos">
          <a class="link" routerLink="{{ alertInfo.link.url }}">
            {{ alertInfo.link.name }}
          </a>
          ({{ alertInfo.analystDecision }})
        </li>
      </ul>
    </div>
    <div class="show-hide-container">
      <button class="button-flat action" [hidden]="showEverything" (click)="showMore()"
              [translate]="'inbox.messagesList.actions.showMore'"></button>
      <button class="button-flat action" [hidden]="!showEverything" (click)="hideMore()"
              [translate]="'inbox.messagesList.actions.showLess'"></button>
    </div>
  </div>
</div>
