@import 'variables';

.list-vertical-separator {
  li {
    & > * {
      &:first-child {
        font-weight: 700;
      }

      &:last-child {
        text-align: right;

        &.empty-state {
          color: $color-text-light;
          white-space: nowrap;
        }
      }
    }
  }
}

.module-content {
  height: 322px;
}
