<ng-container *ngIf="features">

  <section class="module section-page">
    <div class="module-header">
      <h2 class="module-title"
          [translate]="'reasoningBranch.infobox.features.title'"></h2>
      <div class="module-options">
      </div>
    </div>
    <perfect-scrollbar class="module-content">
      <ul class="list-vertical-separator">
        <li *ngFor="let feature of features">
          <div>{{feature.name}}</div>
          <div [class.empty-state]="isEmptyState(feature.value)">{{feature.value}}</div>
        </li>
      </ul>
    </perfect-scrollbar>
  </section>

</ng-container>
