@import 'src/styles/abstracts/8-pt-grid';

.mat-column {
  &-id {
    flex: 0 0 calculate-8-pt-grid(10);
  }
}

.branches-browser {
  &__changes-list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: calculate-8-pt-grid(1);

      &:after {
        content: ',';
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}
