<ng-container *ngIf="workflow">
  <section class="modal-content-section">
    <div class="modal-content-section-label">
      <p [translate]="'workflowManagement.workflowEditor.decisionTreeDetails.id'"></p>
    </div>
    <div class="modal-content-section-content">
      <p class="modal-content-section-content-value">{{workflow.decisionTreeId}}</p>

    </div>
  </section>
  <section class="modal-content-section modal-content-section-divided">
    <div class="modal-content-section-label">
      <p [translate]="'workflowManagement.workflowEditor.decisionTreeDetails.name'"></p>
    </div>
    <div class="modal-content-section-content">
      <p class="modal-content-section-content-value">{{workflow.decisionTreeName}}</p>
    </div>
  </section>
</ng-container>
