<form [formGroup]="branchForm">
  <div class="branch-content-details">
    <div class="branch-content-details-row">
      <p class="branch-content-details-row-label"
         [translate]="'branch.details.sections.branchId.label'"></p>
      <div class="branch-content-details-row-content">
        <p class="branch-content-details-row-content-data">{{branchDetails.reasoningBranchId}}</p>
        <p class="branch-content-details-row-content-hint"
           [translate]="'branch.details.sections.branchId.hint'"></p>
      </div>
    </div>
    <div class="branch-content-details-row">
      <p class="branch-content-details-row-label"
         [translate]="'branch.details.sections.aiSolution.label'"></p>
      <div class="branch-content-details-row-content">
        <div class="select-dropdown branch-content-details-row-content-data">
          <app-icon [name]="'arrow'"></app-icon>
          <select class="input-field" formControlName="aiSolution">
            <option *ngFor="let aiSolution of aiSolutions" [selected]="aiSolution === branchDetails.aiSolution">
              {{ aiSolution }}
            </option>
          </select>
        </div>
        <p class="branch-content-details-row-content-hint"
           [translate]="'branch.details.sections.aiSolution.hint'"></p>
      </div>
    </div>
    <div class="branch-content-details-row">
      <p class="branch-content-details-row-label"
         [translate]="'branch.details.sections.status.label'"></p>
      <div class="branch-content-details-row-content">
        <div class="select-dropdown branch-content-details-row-content-data">
          <app-icon [name]="'arrow'"></app-icon>
          <select class="input-field" formControlName="active">
            <option [ngValue]="true" [selected]="branchDetails.active === true">Active</option>
            <option [ngValue]="false" [selected]="branchDetails.active === false">Disabled</option>
          </select>
        </div>
        <p class="branch-content-details-row-content-hint"
           [translate]="'branch.details.sections.status.hint'"></p>
      </div>
    </div>
    <div class="branch-content-details-footer">
      <div class="empty-space"></div>
      <button class="button-flat" (click)="reset()"
              [translate]="'branch.details.footer.buttonReset'"></button>
      <button class="button-action" (click)="submit()"
              [disabled]="branchForm.invalid || branchForm.pristine"
              [translate]="'branch.details.footer.buttonApply'"></button>
    </div>
  </div>
</form>
