@import 'variables';

.branch-content-details {
  padding: 24px;

  .branch-content-details-row {
    margin-bottom: 24px;
    display: flex;

    .branch-content-details-row-label {
      width: 128px;
      margin-right: 24px;
      text-align: right;
      font-size: 14px;
      font-weight: 700;
      line-height: 36px;
    }

    .branch-content-details-row-content {
      flex: 1;
      font-size: 14px;

      .branch-content-details-row-content-data {
        &,
        & .select-dropdown select {
          height: 36px;
          line-height: 36px;
        }
      }

      .branch-content-details-row-content-hint {
        font-size: 13px;
        color: $color-text-secondary;
      }
    }
  }

  .branch-content-details-footer {
    display: flex;

    & > * {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }

    .empty-space {
      flex: 1;
    }
  }
}
