<div class="code-block">
  <div class="code-block-button"
       *ngIf="expandable && shouldExpandCodeBlock()">
    <button class="button-outline"
            *ngIf="!contentExpanded"
            (click)="expandCodeBlock()"
            [translate]="'codeBlock.options.expand'">
    </button>
    <button class="button-outline"
            *ngIf="contentExpanded"
            (click)="collapseCodeBlock()"
            [translate]="'codeBlock.options.shrink'">
    </button>
  </div>
  <div class="code-block-content"
       [class.code-block-expandable]="expandable && shouldExpandCodeBlock()"
       [style.height.px]="contentFullHeight">
    <pre #codeBlockContent
         class="code-block-content-code">
      {{ content }}
    </pre>
  </div>
</div>
