@import 'abstracts/8-pt-grid';

:host ::ng-deep .audit-trail {
  &__content {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: calculate-8-pt-grid(4) 0;
  }
}

:host ::ng-deep.mat-vertical-stepper-header {
  pointer-events: none !important;
}