<div class="audit-trail layout-narrow">
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="configureForm.form">
      <ng-template matStepLabel>
        <span [translate]="'auditTrail.steps.configure'"></span>
      </ng-template>
      <app-configure-audit-trail
        #configureForm
        (formSubmit)="generateReport($event)"
      ></app-configure-audit-trail>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <span [translate]="'auditTrail.steps.generate'"></span>
      </ng-template>
      <app-generate-audit-trail
        [inProgress]="inProgress"
        [error]="error"
        (abort)="abortGenerateReport()"
      ></app-generate-audit-trail>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <span [translate]="'auditTrail.steps.download'"></span>
      </ng-template>
      <app-download-audit-trail
        (resetClicked)="resetStepper()"
      >
      </app-download-audit-trail>
    </mat-step>
  </mat-vertical-stepper>
</div>
