<app-application-header></app-application-header>
<div class="native-scroll native-scroll--light">
  <div class="users-management">
    <div class="header">
      <div class="add">
        <button (click)="showNewUser()"
                class="button-outline">
          Add User
        </button>
      </div>
      <div class="search">
        <app-search (inputChange)="onFilterChange($event)"></app-search>
      </div>
    </div>
    <div class="module users-list-table">
      <app-preloader class="preload-content is-active"
                     *ngIf="loadingUsers"></app-preloader>
      <app-user-table [users]="isFiltering ? filteredList : usersList"
                      [filterQuery]="filterQuery"
                      (openEditUserForm)="openEditUserForm($event)"
                      (openResetUserPassword)="openResetUserPasswordConfirmation($event)"
                      *ngIf="!loadingUsers"></app-user-table>
    </div>
  </div>
</div>
<app-user-form-container [usersList]="usersList"></app-user-form-container>
