.users-management {
  margin: 0 24px;

  .header {
    margin: 40px 0 24px;
    display: flex;

    * {
      flex: 1;
    }

    .search {
      text-align: right;
    }
  }

  .users-list-table {
    overflow: hidden;
  }
}
