@import 'abstracts/8-pt-grid';

:host {
  display: flex;
  flex: 1 1 1px;
  flex-direction: column;
  margin: calculate-8-pt-grid(1) calculate-8-pt-grid(4);
}

.page-layout {
  &__header {
    display: flex;
    flex: 0 0 auto;
  }
  &__filters {
    display: flex;
    flex: 0 0 auto;
  }
  &__content {
    display: flex;
    flex: 1 1 1px;
  }
}
