@import '~@angular/material/theming';

@mixin sens-chips($theme, $typography) {

  $primary: map-get($theme, primary);

  .mat-chip.mat-standard-chip {
    &.sens-static-chip:hover {
      &::after {
        opacity: 0;
      }
    }
  }

  .inline-chips-list {
    .wrapped-chips-counter {
      color: mat-color($primary);
      background-color: rgba(mat-color($primary), 0.1);
      font-size: mat-font-size($typography, caption);
      font-weight: mat-font-weight($typography, button);

    }
  }
}
