@import '~@angular/material/theming';

@mixin _sens-mat-form-field-no-decorators {
  .mat-form-field-underline {
    visibility: hidden;
  }
  &.mat-form-field-appearance-outline {
    .mat-form-field-flex {
      padding: 0;
    }
    .mat-form-field-infix {
      display: flex;
      align-items: flex-end;
      padding: 0;
    }
    .mat-form-field-outline {
      display: none;
    }
  }
}

@mixin sens-mat-form-field($typography) {
  $line-height: mat-line-height($typography, input);
  $subscript-font-scale: 0.75;
  $line-spacing: ($line-height - 1) / 2;
  $infix-padding: 0.5em - $line-spacing;
  $infix-margin-top: 1em * $line-height * $subscript-font-scale;
  $subscript-margin-top: 0.5em / $subscript-font-scale - ($line-spacing * 2);
  $wrapper-padding-bottom: ($subscript-margin-top + $line-height) * $subscript-font-scale;


  .mat-form-field {
    &--full-width {
      width: 100%;
    }
  }

  .mat-form-field-appearance-outline:hover {
    .mat-form-field-outline {
      color: $primary;
    }
  }

  mat-form-field {
    &.static-error {
      .mat-form-field-underline  {
        position: relative;
        bottom: auto;
      }

      .mat-form-field-wrapper{
        padding-bottom: 0;
      }

      .mat-form-field-subscript-wrapper {
        position: static;

        .ng-trigger-transitionMessages {
          opacity: 1!important;
          transform: none!important;

        }

        mat-error {
          span {
            margin-bottom: $subscript-margin-top;
            display: block;
          }
        }
      }
    }

    &.transparent-field {
      @include _sens-mat-form-field-no-decorators;
    }

    &.static-height-field {
      .mat-form-field-infix {
        height: 4em;
      }
    }

    &.lean-field {
      .mat-form-field-infix {
        padding: 0;
        border: 0;
        height: auto;
      }
    }
  }

  mat-error.multiline-error {
    span {
      margin-bottom: $subscript-margin-top;
      display: block;
    }
  }


}


