@mixin sens-list {
  .mat-selection-list {
    border-color: #f00;
  }

  .mat-selection-list {
    .mat-pseudo-checkbox {
      order: 1;
      margin-right: calculate-8-pt-grid(2);
    }
    .mat-list-option .mat-list-item-content mat-hint.mat-caption {
      font-size: 12px;
    }
  }
}
