@import 'variables';
@import 'mixins';
@import 'future-component/tooltip';

.dynamic-table {
  background: $color-background-element;
  border-radius: $border-radius-page-element;
  box-shadow: $shadow-card;
  overflow: hidden;
  width: 100%;

  .table-scroll {
    overflow-x: auto;
    z-index: 1;
  }
}

.table-header {
  border-bottom: $border-separator;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 37px;
  padding: $space-m $space-xl;
  position: relative;
  z-index: 3;

  .table-title {
    display: inline;
  }

  .pagination {
    display: flex;

    & > * {
      margin-right: $space-l;
    }

    & > *:last-child {
      margin-right: 0;
    }

    .page-counter {
      font-weight: 700;
    }
  }

  .button-outline {
    height: 36px;
    padding: 0 14px;
  }

  .dropdown-item {
    min-width: 100px;
    text-align: center;
  }
}

table {
  background: $color-background-element;
  border-collapse: collapse;
}

thead {
  border-bottom: $border-separator;
  color: $color-label;
  font-size: $font-size-m;
  font-weight: 700;

  th {
    height: $table-head-height;
    text-align: left;
  }
}

tbody {
  tr {
    background: transparent;
    border-bottom: $border-separator;
    cursor: pointer;
    height: $table-row-height;

    .row-options {
      position: absolute;
      right: 0;
      height: $table-row-height - 1px;
      transform: translateY(-26px);
      padding: 0px $space-xl;
      line-height: $table-row-height - 1px;
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      background: $color-table-row-hover;
      cursor: default;

      .row-options {
        background: $color-table-row-hover;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

td,
th {
  max-width: 139px;
  padding-left: $space-xl;

  &:nth-child(2) {
    max-width: 100%;
    white-space: nowrap;
  }

  &:last-child {
    max-width: 139px + 34;
    padding-right: $space-xl;
  }

  &.row-options-placeholder {
    padding-right: 116px;
  }
}

:host(.links) {
  tr {
    &:hover {
      background: $color-table-row-link-hover;
      cursor: pointer;

      .row-options {
        background: $color-table-row-link-hover;
      }
    }
  }

  td {
    &:nth-child(2) {
      color: $color-action;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.element-id {
  display: flex;

  .copy-to-clipboard {
    background: transparent;
    border: 0;
    margin-left: 14px;
    padding: 0;
    position: relative;
    top: 1px;

    &::after {
      @include transition(all, $transition-normal, ease-in-out);
      background: $color-element-hover-background;
      border-radius: 50%;
      content: '';
      height: 14px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 2px;
      transform: scale(1);
      width: 14px;
      z-index: 0;
    }

    &:hover,
    &:focus {
      &::after {
        opacity: 1;
        transform: scale(2);
      }

      ::ng-deep {
        svg {
          fill: $color-icon-hover;
        }
      }
    }
  }

  .icon-copy ::ng-deep {
    svg {
      fill: $color-icon;
      height: 14px;
      position: relative;
      width: 14px;
      z-index: 1;
    }
  }
}

.many-values,
.empty-value {
  color: $color-text-light;
  white-space: nowrap;
}

.tooltip {
  .multi-lines {
    width: 400px;
  }
}

$rows-5: ($table-row-height * 5) + ($table-head-height);
$rows-10: ($table-row-height * 10) + ($table-head-height);
$rows-15: ($table-row-height * 15) + ($table-head-height);
$rows-20: ($table-row-height * 20) + ($table-head-height);

.rows-1,
.rows-2,
.rows-3,
.rows-4 {
  tr {
    &:last-child {
      border-bottom: 0;
    }
  }
}

.rows-5 {
  height: $rows-5 + 1px;
}

.rows-10 {
  height: $rows-10 + 1px;
}

.rows-15 {
  height: $rows-15 + 1px;
}

.rows-20 {
  height: $rows-20 + 1px;
}

.action {
  display: none;
}

:host(.suspended-table) {
  .action {
    display: table-cell;
  }

  ::ng-deep {
    .button-outline {
      font-size: $font-size-s;
      height: unset;
      line-height: unset;
      padding: $space-xs $space-m;
    }
  }
}

.empty-state-placeholder {
  height: 200px;
}

app-empty-state {
  ::ng-deep {
    &.empty-state {
      position: absolute;
      top: 67px;
      width: 100%;
      z-index: 1;
    }
  }
}

.table-content {
  position: relative;

  table {
    width: 100%;
  }

  .table-error {
    background: $color-background-body;
    left: 0;
    min-height: 125px;
    position: relative;
    top: 0;
    width: 100%;

    & > div {
      color: $color-text-light;
      font-size: $font-size-xl;
      font-weight: 700;
      left: 50%;
      margin: auto;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.is-loading {
    min-height: 200px;
  }
}

.loading-content {
  @include transition(all, $transition-normal, ease-in-out);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(1.5);
  visibility: hidden;
  width: 100%;
  z-index: 2;

  &.is-active {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}

.rows-5,
.rows-10,
.rows-15,
.rows-20 {
  tr {
    &:last-child {
      border-bottom: 0;
    }
  }
}

:host(.wrapping-table) {
  .rows-5,
  .rows-10,
  .rows-15,
  .rows-20 {
    height: unset;
  }

  tr {
    &:last-child {
      border-bottom: 0;
    }
  }

  td {
    &:nth-child(3) {
      width: 182px;

      p {
        white-space: pre-line;
      }

    }

    &:nth-child(4) {
      padding-bottom: 14px;
      padding-top: 14px;
      width: 380px;

      p {
        overflow: unset;
        text-overflow: unset;
        white-space: pre-line;
      }
    }

    &:not(:first-child) {
      .tooltip > div {
        display: none;
      }
    }
  }
}
