.code-block {
  @extend %shape-level-3;

  $-code-block-internal-margin: $space-element-internal-content-margin;

  background: $color-field-light;
  padding: $-code-block-internal-margin;
  position: relative;
  width: 100%;

  .code-block-button {
    position: absolute;
    right: $-code-block-internal-margin;
    top: $-code-block-internal-margin;
  }

  .code-block-content {
    @extend %-typography-body-text;

    &.code-block-expandable {
      height: add-px-to-value(grid-value(10));
      overflow: hidden;

      .code-block-content-code {
        padding-right: add-px-to-value(grid-value(11));
      }
    }

    .code-block-content-code {
      font-family: monospace, monospace;
      margin: 0;
      padding: 0;
      white-space: pre-line;
      word-break: break-word;
    }
  }
}
