// Description
// Lorem ipsum

// Internal styles

%-feedback-text-base-style {
  display: flex;

  .feedback-text-content {
    display: flex;
  }

  .feedback-text-content-icon {
    $feedback-text-height: add-px-to-value(grid-value(2));

    font-size: $feedback-text-height;
    margin-right: $space-between-close-related-elements;
    width: $feedback-text-height;

    &::before {
      top: calc(50% - 1px);
    }
  }

  .feedback-text-content-label {
    @extend %-typography-body-text;

    font-weight: 700;
  }

  .feedback-text-option {
    margin-left: $space-between-related-elements;
  }
}

// Styles for vertical elements list
// Please use only the following styles in other component styles

.feedback-text-warning {
  @extend %-feedback-text-base-style;

  .feedback-text-content-icon,
  .feedback-text-content-label {
    color: $color-typography-warning;
  }
}

.feedback-text-inactive {
  @extend %-feedback-text-base-style;

  .feedback-text-content-icon,
  .feedback-text-content-label {
    color: $color-typography-inactive;
  }
}

.feedback-text-positive {
  @extend %-feedback-text-base-style;

  .feedback-text-content-icon,
  .feedback-text-content-label {
    color: $color-typography-positive;
  }
}

.feedback-text-negative {
  @extend %-feedback-text-base-style;

  .feedback-text-content-icon,
  .feedback-text-content-label {
    color: $color-typography-negative;
  }
}
