.list-vertical-elements {
  @extend %list-vertical-elements;

  li {
    & > * > * {
      margin: 0 $space-between-related-elements;
    }

    & > * > *:first-child {
      margin-left: $space-element-internal-content-margin;
    }

    & > * > *:last-child {
      margin-right: $space-element-internal-content-margin;
    }

    & > * > .vertical-list-of-elements-value {
      @extend %text-ellipsis;

      flex: 1;
    }
  }
}

.list-vertical-elements-divided {
  @extend %list-vertical-elements-divided;

  li {
    & > * > * {
      margin: 0 $space-between-related-elements;
    }

    & > * > *:first-child {
      margin-left: $space-element-internal-content-margin;
    }

    & > * > *:last-child {
      margin-right: $space-element-internal-content-margin;
    }

    & > * > .vertical-list-of-elements-value {
      @extend %text-ellipsis;

      flex: 1;
    }
  }
}
