<table class="users-list">
  <thead>
  <th [translate]="usersListTranslate + 'username.label'"></th>
  <th [translate]="usersListTranslate + 'displayName.label'"></th>
  <th [translate]="usersListTranslate + 'roles.label'"></th>
  <th [translate]="usersListTranslate + 'origin.label'"></th>
  <!--
  <th class="actions" [translate]="usersListTranslate + 'profile.label'"></th>
  -->
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>
      <span class="text-ellipsis">{{user.userName}}</span>
    </td>
    <td>
      <span *ngIf="user.displayName" class="text-ellipsis">{{user.displayName}}</span>
      <span *ngIf="!user.displayName"
            class="empty-state-data text-ellipsis"
            [translate]="usersListTranslate + 'displayName.emptyState'"></span>
    </td>
    <td>
      <ul class="list-horizontal text-ellipsis"
          *ngIf="user.roles">
        <li *ngFor="let role of user.roles"
            class="user-role">{{role}}</li>
      </ul>
      <span *ngIf="!user.roles"
            class="empty-state-data"
            [translate]="usersListTranslate + 'roles.emptyState'"></span>
    </td>
    <td>
      <div class="origin">
        <span>{{user.origin}}</span>
      </div>
    </td>
    <!--
    <td class="actions">
      <button class="button-flat"
              [translate]="usersListTranslate + 'profile.edit'"></button>
    </td>
    -->
  </tr>
  </tbody>
</table>
