<mat-table [dataSource]="dataSource" class="mat-table--main-content interactive-table">

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                    color="primary">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    color="primary">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>
      <span [translate]="translatePrefix + 'id'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="solution">
    <mat-header-cell *matHeaderCellDef>
      <span [translate]="translatePrefix + 'aiSolution'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <app-ai-solution [aiSolution]="element.solution"></app-ai-solution>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>
      <span [translate]="translatePrefix + 'aiStatus'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="changeRequest">
    <mat-header-cell *matHeaderCellDef>
      <span [translate]="translatePrefix + 'changeRequest'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.changeRequest}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastUpdate">
    <mat-header-cell *matHeaderCellDef>
      <span [translate]="translatePrefix + 'lastUpdate'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastUpdate}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
           class="interactive-table__row"></mat-row>
</mat-table>
