@import '_old/variables';

.informations {
  td {
    &:first-child {
      font-weight: 700;
      padding-right: $space-l;
      vertical-align: top;
      white-space: nowrap;
    }

    &:last-child {
      white-space: pre-wrap;
      word-break: break-word;

      ul {
        list-style-type: none;
      }
    }
  }

  .status-icon {
    margin-right: 9px;
  }
}

.activations {
  .activations-section {
    margin-bottom: $space-l;

    .activations-section-title {
      font-size: $font-size-l;
    }

    .activations-section-content {
      margin-top: $space-s;
    }
  }
}

.decision-tree-details-module {
  ::ng-deep {
    .module {
      overflow: hidden;
    }

    .module-content {
      height: 144px;
    }
  }
}

