@import '_old-main';

.search-filed {
  display: flex;
  justify-content: flex-end;

  .input-field {
    width: 240px;

    .search-icon {
      ::ng-deep {
        svg {
          left: 0;
        }
      }
    }
  }
}
