<div class="dropdown-center">
  <button class="button-outline"
          (click)="onDropdownClick()"
          [class.is-active]="show">
    <span [translate]="translatePrefix + '.prefix'"></span>
    <span>{{option | translateValue: translatePrefix + '.option.' | async }}</span>
  </button>
  <div class="dropdown-menu" [class.is-active]="show">
    <ul class="dropdown-menu-elements-centered">
      <li *ngFor="let option of possibleOptions"
          [class.is-active]="isOptionActive(option)">
        <button (click)="onSelectOption(option)">
          {{option | translateValue: translatePrefix + '.option.' | async }}
        </button>
      </li>
    </ul>
  </div>
</div>
