@import 'variables';
.reports {
  margin: 0 24px;

  .header {
    margin: 40px 0 24px;
    display: flex;
  }

    .section-reports {
    display: flex;
    justify-content: space-around;
  }

  .reports-list {
    display: grid;
    grid-auto-rows: 280px;
    grid-gap: $space-xxl;
    grid-template-columns: repeat(4, 280px);
  }
}
