@import 'variables';

$column-id: 30px + $space-table-gap;
$column-name: minmax(340px + $space-table-gap, 1fr);
$column-status: 110px + $space-table-gap;
$column-assigned: minmax(1px, 2fr);

.section-decision-trees {
  margin-top: $space-xl;
}

:host(.decision-trees-list-table) {
  ::ng-deep {
    .dynamic-view-row,
    .dynamic-view-labels {
      grid-template-columns: $column-id $column-name $column-status $column-assigned;
      white-space: pre;

      .dynamic-view-column {
        &:nth-last-child(1) {
          padding: 0;
        }

        &:nth-last-child(2) {
          padding-right: 0;
        }
      }
    }

    .dynamic-view-row {
      &:hover {
        .actions {
          visibility: visible;
          display: block;
        }
      }
    }

    .incomplete {
      cursor: not-allowed;
    }

    perfect-scrollbar,
    .ps {
      // sass-lint:disable-all
      // Change overflow to show tooltip
      overflow: unset !important; // Overwrites base styles in "perfect-scrollbar" (.ps has !important)
      // sass-lint:enable-all
    }
  }
}
