.form {
  &__section {
    margin-bottom: calculate-8-pt-grid(4);
  }

  &__content {
    & > * {
      margin-bottom: calculate-8-pt-grid(3);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;

    & > button {
      margin-left: calculate-8-pt-grid(2);

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .state {
    width: 400px;
  }
}
