.interactive-table {
  &__row {
    cursor: pointer;

    &:hover {
      background-color: rgba($primary, .04);
    }

    &--active {
      &,
      &:hover {
        background-color: rgba($primary, .1);

        .mat-cell {
          &,
          & * {
            color: $primary;
          }
        }
      }
    }
  }
}
