.panel-layout {
  button {
    margin: calculate-8-pt-grid(1);
  }
  label {
    display: inline-flex;
    align-items: center;
    margin: calculate-8-pt-grid(1);
  }

  &--outlined {
    margin-left: - calculate-8-pt-grid(1);
    margin-right: - calculate-8-pt-grid(1);
  }
}
