@import 'variables';

$height-batch-type-list-element: 64px;
$vertical-margin-batch-type-list-element: $space-s;
$horizontal-margin-batch-type-list-element: $space-l;

.batch-type-list-element {
  border-bottom: $border-separator;
  display: flex;
  height: $height-batch-type-list-element;
  padding: $vertical-margin-batch-type-list-element $horizontal-margin-batch-type-list-element;
  position: relative;

  &,
  & * {
    cursor: pointer;
  }

  &:hover {
    background: $color-table-row-hover;
  }

  .batch-type-list-element-select-area {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .batch-type-list-element-select {
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
  }

  .batch-type-list-element-name {
    font-weight: 700;
  }

  .batch-type-list-element-unused,
  .batch-type-list-element-used {
    margin-left: $horizontal-margin-batch-type-list-element;
    overflow: hidden;
  }

  .batch-type-list-element-unused {
    line-height: $height-batch-type-list-element - (2 * $vertical-margin-batch-type-list-element);
  }

  .batch-type-list-item-used-warning {
    background: $color-feedback-warning-background;
    border-radius: $border-radius-element;
    color: $color-text-white;
    display: inline-block;
    margin-top: 6px;
    max-width: 100%;
    padding: 1px $space-s;
  }
}
