<mat-table
        [dataSource]="dataSource">

  <ng-container matColumnDef="alertId">
    <mat-header-cell *matHeaderCellDef>
      <span [translate]="translatePrefix + 'alertId'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.alertId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="aiComment">
    <mat-header-cell *matHeaderCellDef>
      <span [translate]="translatePrefix + 'aiComment'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.aiComment}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="aiCommentDate">
    <mat-header-cell *matHeaderCellDef>
      <span [translate]="translatePrefix + 'aiCommentDate'"></span>
    </mat-header-cell>
    <mat-cell
            *matCellDef="let element"> {{element.aiCommentDate | date:dateFormatting}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="analystComment">
    <mat-header-cell *matHeaderCellDef>
      <span [translate]="translatePrefix + 'analystComment'"></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.analystComment}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="analystCommentDate">
    <mat-header-cell *matHeaderCellDef>
      <span [translate]="translatePrefix + 'analystCommentDate'"></span>
    </mat-header-cell>
    <mat-cell
        *matCellDef="let element"> {{element.analystCommentDate | date:dateFormatting}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
