<app-preloader class="preload-page"
               [class.is-active]="!alertDetails"
               *ngIf="!alertDetails"></app-preloader>
<div *ngIf="alertDetails">
  <header class="page-header">
    <div class="page-header-content">
      <h1 class="page-name"
          [translate]="'alert.title'"
          [translateParams]="{value: alertDetails.externalId}"></h1>
    </div>
    <div class="page-header-subsection">
      <app-breadcrumbs *ngIf="breadcrumbsProvider"
                       [breadcrumbsProvider]="breadcrumbsProvider"></app-breadcrumbs>
    </div>
  </header>
  <div class="grid-system grid-4-4-4 alert-details">

    <app-alert-details [partyFields]="partyFields"></app-alert-details>

    <div class="page-module"
         *ngIf="alertDetails.branchInfos.length === 1">
      <section class="module section-page">
        <div class="module-header">
          <h2 class="module-title"
              [translate]="'alert.infobox.reasoningBranchFeatures.title'"></h2>
          <div class="module-options">
          </div>
        </div>
        <perfect-scrollbar class="module-content">
          <ul class="list-vertical-separator">
            <li *ngFor="let feature of alertDetails.branchInfos[0].features">
              <div>{{feature.name}}</div>
              <div>{{feature.value}}</div>
            </li>
          </ul>
        </perfect-scrollbar>
      </section>
    </div>

    <div class="page-module"
         *ngIf="alertDetails.branchInfos.length > 1">
      <section class="module section-page">
        <div class="module-header module-content-separator">
          <h2 class="module-title"
              [translate]="'alert.infobox.matchingBranches.title'"></h2>
          <div class="module-options">
          </div>
        </div>
        <div class="module-content">
          <ul class="list">
            <li *ngFor="let info of alertDetails.branchInfos">
              <a href="{{getBranchUrl(info.decisionTreeInfo.id, info.matchGroupId)}}"
                 [translate]="'alert.infobox.matchingBranches.label'"
                 [translateParams]="{value: info.matchGroupId}"></a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div class="page-module"
         [class.alert-details-solutions]="alertDetails.analystSolution && alertDetails.aiSolution"
         [class.alert-details-solution]="alertDetails.aiSolution || alertDetails.analystSolution">
      <section class="module section-page" *ngIf="alertDetails.analystSolution">
        <div class="module-header">
          <h2 class="module-title"
              [translate]="'alert.infobox.comment.analystDecision'"></h2>
          <div class="module-options">
          </div>
        </div>
        <perfect-scrollbar class="module-content">
          <app-key-value-vertical-table
                  [entries]="mapToKeyValueTable(alertDetails.analystSolution, 'decision')"></app-key-value-vertical-table>
        </perfect-scrollbar>
      </section>

      <section class="module section-page" *ngIf="alertDetails.aiSolution">
        <div class="module-header">
          <h2 class="module-title"
              [translate]="'alert.infobox.comment.aiSolution'"></h2>
          <div class="module-options">
          </div>
        </div>
        <perfect-scrollbar class="module-content">
          <app-key-value-vertical-table
                  [entries]="mapToKeyValueTable(alertDetails.aiSolution, 'solution')"></app-key-value-vertical-table>
        </perfect-scrollbar>
      </section>
    </div>
  </div>

  <section class="page-section">
    <div class="page-section-header">
      <h2 class="page-section-title"
          [translate]="'alert.matches.title'"></h2>
      <div class="page-section-options">
      </div>
    </div>
    <div class="page-section-content">
      <div class="hits-section">
        <app-dynamic-table class="list" [provider]="currentBranchMatchTableProvider"
                           [title]="'alert.matches.currentBranchTable.title'"
                           [tableDataPrefix]="'alert.matches.currentBranchTable.data'"
                           [linksInRows]="false"
                           [tableHints]="['verticalScroll']">
        </app-dynamic-table>
      </div>
      <div class="hits-section" [hidden]="!otherBranchesTableHasData">
        <app-dynamic-table [provider]="otherBranchesMatchTableProvider"
                           [title]="'alert.matches.otherBranchesTable.title'"
                           [tableDataPrefix]="'alert.matches.otherBranchesTable.data'"
                           (itemClick)="goToBranch($event.item)"
                           [linksInRows]="true"
                           [tableHints]="['verticalScroll', 'openInNewWindow']"
                           class="links">
        </app-dynamic-table>
      </div>
    </div>
  </section>
</div>
