<app-overlay [class.is-active]="show"></app-overlay>
<div class="popup-window" [class.is-active]="show">
  <div class="popup-window-header">
    <h1 class="popup-window-title"
        [translate]="'modal.removeDecisionTree.title'"></h1>
  </div>
  <app-loading [class.is-active]="inProgress"></app-loading>
  <perfect-scrollbar>
    <div class="popup-window-content">
      <section class="section section-last">
        <section class="subsection">
          <div class="remove-description">
            <p>
              <span [translate]="'modal.removeDecisionTree.description'"></span>
              <b>"{{decisionTree ? decisionTree.name : ''}}"</b>
            </p>
            <span class="remove-description-instruction"
                  [innerHTML]="'modal.removeDecisionTree.instruction' | translate"></span>
          </div>
        </section>
        <section class="subsection subsection-last">
          <div class="field-row">
            <div class="field-row-label required">
              <label>Confirm your decision</label>
            </div>
            <div class="field-row-option-horizontal-space-between">
              <input class="input-field"
                     placeholder="Confirm your decision"
                     type="text"
                     [(ngModel)]="confirmInputValue"
                     #confirmDecision>
            </div>
          </div>
        </section>
        <app-feedback-message
                [class.is-active]="!shouldDisableConfirmButton()"
                [message]="'modal.removeDecisionTree.tipIrreversibleProcess'"
                class="warning"></app-feedback-message>
      </section>
    </div>
  </perfect-scrollbar>
  <div class="popup-window-footer">
    <button class="button-outline" (click)="close()"
            [translate]="'modal.button.cancel'"></button>
    <button class="button-action negative" disabled
            [disabled]="shouldDisableConfirmButton()"
            (click)="confirm()"
            [translate]="'modal.removeDecisionTree.actionButton'"></button>
  </div>
</div>
