<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProperty name="LOG_PATH" source="serp.logging.path" defaultValue=""/>
  <springProperty name="LOG_NAME" source="serp.logging.name" defaultValue="service"/>
  <springProperty name="SERVICE_NAME" source="spring.application.name" defaultValue="service"/>
  <springProperty name="HOSTNAME" source="hostname" defaultValue="undefined"/>

  <!-- CONSOLE appender -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf-8</charset>
    </encoder>
    <target>System.out</target>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>DENY</onMatch>
      <onMismatch>ACCEPT</onMismatch>
    </filter>
  </appender>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <target>System.err</target>
  </appender>

  <springProfile name="logging-file">
    <!-- FILE appender -->
    <property
        name="LOG_FILE"
        value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/${LOG_NAME:-service}.log"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <encoder>
        <pattern>${FILE_LOG_PATTERN}</pattern>
        <charset>utf-8</charset>
      </encoder>
      <file>${LOG_FILE}</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
        <maxFileSize>${LOG_FILE_MAX_SIZE:-120MB}</maxFileSize>
        <maxHistory>${LOG_FILE_MAX_HISTORY:-30}</maxHistory>
        <totalSizeCap>${LOG_TOTAL_SIZE_CAP:-4GB}</totalSizeCap>
        <cleanHistoryOnStart>true</cleanHistoryOnStart>
      </rollingPolicy>
    </appender>

    <!-- STASH appender -->
    <property
        name="LOG_FILE_STASH"
        value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/${LOG_NAME:-service}-stash.json"/>
    <appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <encoder class="co.elastic.logging.logback.EcsEncoder">
        <serviceName>${SERVICE_NAME}@${HOSTNAME}</serviceName>
        <includeMarkers>true</includeMarkers>
      </encoder>
      <filter class="com.silenteight.sep.base.common.support.logback.LogstashFilter"/>
      <file>${LOG_FILE_STASH}</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOG_FILE_STASH}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
        <maxFileSize>${LOG_FILE_MAX_SIZE:-120MB}</maxFileSize>
        <maxHistory>${LOG_FILE_MAX_HISTORY:-30}</maxHistory>
        <totalSizeCap>${LOG_TOTAL_SIZE_CAP:-4GB}</totalSizeCap>
        <cleanHistoryOnStart>true</cleanHistoryOnStart>
      </rollingPolicy>
    </appender>
  </springProfile>

  <!-- SERP defaults -->
  <include resource="logback-defaults.xml"/>

  <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <!-- Development configuration -->
  <springProfile name="dev &amp; !logging-file">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="STDERR"/>
    </root>
  </springProfile>

  <springProfile name="dev &amp; logging-file">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="STDERR"/>
      <appender-ref ref="FILE"/>
      <appender-ref ref="STASH"/>
    </root>
  </springProfile>

  <!-- Production configuration -->
  <springProfile name="!dev &amp; logging-file">
    <!-- ERROR appender -->
    <property
        name="LOG_FILE_ERROR"
        value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/${LOG_NAME:-service}-error.log"/>
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <encoder>
        <pattern>${FILE_LOG_PATTERN}</pattern>
        <charset>utf-8</charset>
      </encoder>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>error</level>
      </filter>
      <file>${LOG_FILE_ERROR}</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOG_FILE_ERROR}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
        <maxFileSize>${LOG_FILE_MAX_SIZE:-120MB}</maxFileSize>
        <maxHistory>${LOG_FILE_MAX_HISTORY:-30}</maxHistory>
        <totalSizeCap>${LOG_TOTAL_SIZE_CAP:-4GB}</totalSizeCap>
        <cleanHistoryOnStart>true</cleanHistoryOnStart>
      </rollingPolicy>
    </appender>

    <!-- ASYNC appenders -->
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>512</queueSize>
      <appender-ref ref="FILE"/>
    </appender>
    <appender name="ASYNC_ERROR" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>512</queueSize>
      <appender-ref ref="ERROR"/>
    </appender>
    <appender name="ASYNC_STASH" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>512</queueSize>
      <appender-ref ref="STASH"/>
    </appender>

    <!-- Attach ROOT logger to ASYNC appenders -->
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="STDERR"/>
      <appender-ref ref="ASYNC_FILE"/>
      <appender-ref ref="ASYNC_ERROR"/>
      <appender-ref ref="ASYNC_STASH"/>
    </root>
  </springProfile>

  <springProfile name="!dev &amp; !logging-file">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="STDERR"/>
    </root>
  </springProfile>
</configuration>
