<mat-sidenav-container autosize>
  <mat-sidenav
          #preview
          mode="side"
          disableClose
          position="end"
          class="sidebar">
    <div class="content-internal-margin--vertical sidebar-details">
      <app-reasoning-branch-details-container></app-reasoning-branch-details-container>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-reasoning-branches-list-container
            (click)="preview.open()">
    </app-reasoning-branches-list-container>
  </mat-sidenav-content>
</mat-sidenav-container>
