<ul class="navigation">
  <li *ngIf="hasAccessToUrl('/reasoning-branch') | async">
    <a class="navigation__element"
       routerLink="/reasoning-branch"
       [translate]="'branch.title'"
       (click)="showMenu = !showMenu"
       routerLinkActive="navigation__element--active"></a>
  </li>
  <li *ngIf="hasAccessToUrl('/user-management') | async">
    <a class="navigation__element"
       routerLink="/user-management"
       [translate]="'usersManagement.title'"
       (click)="showMenu = !showMenu"
       routerLinkActive="navigation__element--active"></a>
  </li>
  <li *ngIf="hasAccessToUrl('/reports') | async">
    <a class="navigation__element"
       routerLink="/reports"
       [translate]="'auditTrail.title'"
       (click)="showMenu = !showMenu"
       routerLinkActive="navigation__element--active"></a>
  </li>
</ul>
