@import 'variables';
@import '../../../../styles/framework/1-load/colors';
@import '../../../../styles/framework/3-foundations/colors';
@import 'mixins';

.navigation {
  display: flex;
  list-style: none;

  &__element {
    color: $color-typography-primary;
    text-decoration: none;
    line-height: $app-header-height;
    position: relative;
    display: block;
    padding: 0 12px;

    &:before {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }

    &:after {
      @include transition(all, $transition-normal, ease-in-out);
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      border-radius: 1px;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }

    &--active,
    &:hover {
      &:after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
      }
    }

    &:hover {
      &:after {
        background: $color-typography-tertiary;
      }
    }

    &--active {
      &,
      &:hover {
        font-weight: 700;

        &:after {
          background: $color-accent;
        }
      }
    }
  }
}
