<section class="modal-content-section modal-content-section-divided modal-content-section-first"
         *ngIf="control">
  <div class="modal-content-section-label">
    <label class="required"
           [translate]="'user-management.userProfile.labels.status'"></label>
  </div>
  <div class="modal-content-section-content">
    <div class="modal-content-section-content-value status-description">
      <label for="{{optionId}}-status">
        <span [translate]="'user-management.data.status'"></span>
      </label>
      <label class="switch">
        <input type="checkbox"
               id="{{optionId}}-status"
               [formControl]="control">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</section>
