.input-elements-list {
  min-height: 170px;

  .empty-state-field {
    line-height: 130px;
  }
}

.input-single-line {
  height: 40px;
  line-height: 40px;

  .input-single-line-data-icon-type {
    top: 8px;
  }
}
