@import 'variables';

.loader {
  background-color: $color-loading-background;
  border-radius: 34px;
  height: 6px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    animation: loading 2s linear infinite;
    background-color: $color-feedback-processing-background;
    border-radius: 3px;
    content: '';
    display: block;
    height: 6px;
    left: -200px;
    position: absolute;
    width: 200px;
  }
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}
