.mat-accordion {
  .mat-expansion-panel {
    .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 0;

        .mat-action-row {
          padding-right: calculate-8-pt-grid(2);
        }
      }
    }

    &.mat-expansion-panel--flat {
      border: 1px solid $border-light;
      margin-bottom: calculate-8-pt-grid(1);

      &.mat-expansion-panel:not(.mat-expanded),
      &.mat-expansion-panel:not(.mat-expansion-panel-spacing) {
        border-radius: 4px;
      }
    }

    &.mat-expansion-panel-spacing {
      margin: calculate-8-pt-grid(5) 0;
    }
  }
}
