$mat-expansion-border-radius: calculate-8-pt-grid(1);

.mat-accordion {
  .mat-expansion-panel {
    .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 0;

        .mat-action-row {
          padding-right: calculate-8-pt-grid(2);
        }
      }
    }

    &.mat-expansion-panel--flat {
      border: 1px solid $dividers;
      border-radius: $mat-expansion-border-radius;
      margin-bottom: calculate-8-pt-grid(1);

      &:first-of-type {
        border-top-left-radius: $mat-expansion-border-radius;
        border-top-right-radius: $mat-expansion-border-radius;
      }

      &.mat-expansion-panel:not(.mat-expanded),
      &.mat-expansion-panel:not(.mat-expansion-panel-spacing) {
        border-radius: $mat-expansion-border-radius;
      }
    }

    &.mat-expansion-panel-spacing {
      margin: calculate-8-pt-grid(5) 0;
    }
  }
}
