@import 'size/font-size';

%label {
  color: $-color-gray-50;
}

%label-for-element {
  color: $-color-gray-80;
  cursor: pointer;
  font-weight: 700;
}


%text-particular {
  @extend %text-primary;
  font-weight: 700;
}

%text-primary {
  color: $-color-gray-80;
}

%text-secondary {
  color: $-color-gray-40;
}

%text-error {
  color: $color-feedback-error-label;
  font-weight: 700;
}
