.ai-solution-negative-1 {
  background: #E53935;
}

.ai-solution-negative-2 {
  background: #FB8C00;
}

.ai-solution-negative-3 {
  background: #FFB300;
}

.ai-solution-info-1 {
  background: #673AB7;
}

.ai-solution-info-2 {
  background: #3F51B5;
}

.ai-solution-info-3 {
  background: #0288D1;
}

.ai-solution-positive-1 {
  background: #43A047;
}

.ai-solution-positive-2 {
  background: #7CB342;
}

.ai-solution-positive-3 {
  background: #AFB42B;
}

.ai-solution-unset-1 {
  background: #757575;
}
