@import '../styles/abstracts/8-pt-grid';

.mat-column {
  &-profile {
    flex: 0 0 calculate-8-pt-grid(10);
  }
  &-origin {
    flex: 0 0 calculate-8-pt-grid(10);
  }
}

.hidden-button {
  display: none;
}
