@import '_old/variables';

$table-column-branch-id: 60px + $space-table-gap;
$table-column-decision: 210px + $space-table-gap;
$table-column-status: 130px + $space-table-gap;
$table-column-changelog: 110px + $space-table-gap;
$table-column-score: 60px + $space-table-gap;
$table-column-reviewed: 180px + $space-table-gap;
$table-column-last-used-at: 90px + $space-table-gap;

$table-reasoning-branches: $table-column-branch-id $table-column-decision $table-column-status $table-column-score $table-column-last-used-at $table-column-changelog $table-column-reviewed;

.branch-table {
  ::ng-deep {
    .dynamic-view-labels,
    .dynamic-view-row {
      grid-auto-columns: 130px + $space-table-gap;
      white-space: nowrap;
    }
  }
}

.selectable-branch-table {
  ::ng-deep {
    .dynamic-view-labels,
    .dynamic-view-row {
      grid-template-columns: $table-column-checkbox $table-reasoning-branches;
    }
  }
}

.simple-branch-table {
  ::ng-deep {
    .dynamic-view-labels,
    .dynamic-view-row {
      grid-template-columns: $table-reasoning-branches;
    }
  }
}

