<ng-container *ngIf="activations">

  <section class="module section-page">
    <div class="module-header">
      <h2 class="module-title">
        <span [translate]="'decisionTree.infobox.decisionGroups.title'"></span>
        <span *ngIf="activations.length > 0">
        (<span *ngIf="activations.length > 0">{{ activations.length }} Active</span>)
        </span>
      </h2>
    </div>
    <perfect-scrollbar class="module-content">
      <app-decision-tree-decision-groups-list
              *ngIf="activations.length > 0"
              [decisionGroups]="activations"></app-decision-tree-decision-groups-list>

      <app-empty-state *ngIf="activations.length === 0"
                       class="empty-state-content"
                       [label]="'decisionTree.infobox.decisionGroups.emptyState'"></app-empty-state>
    </perfect-scrollbar>
  </section>

</ng-container>
