// The sum of all grid columns must always be equal to 12

.grid-system {
  display: grid;
  grid-gap: $space-xl;
  text-align: left;

  &.grid-3-6-3 {
    grid-template-columns: 3fr 6fr 3fr;
  }

  &.grid-4-4-4 {
    grid-template-columns: repeat(3, 4fr);
  }

  &.grid-4-8 {
    grid-template-columns: 4fr 8fr;
  }

  &.grid-6-6 {
    grid-template-columns: 6fr 6fr;
  }
}
