@import 'variables';

.module-header-margin {
  &.users-list-header {
    margin-bottom: 0;
  }
}

.user-table {
  ::ng-deep {
    .pageable-dynamic-table-header {
      margin-top: 21px;
    }

    .dynamic-view-labels,
    .dynamic-view-row {
      grid-template-columns: repeat(5, minmax(1px, 1fr)) 172px;
      white-space: nowrap;
    }

    .user-origin {
      .origin-icon {
        height: 14px;
        margin-right: $space-s;
        position: relative;
        top: 1px;
        width: 14px;
      }
    }

    .user-status {
      .user-status-icon,
      .user-status-label {
        display: inline-block;
      }

      .user-status-icon {
        height: 12px;
        margin-right: $space-s;
        width: 12px;
      }
    }
  }
}

.filtering {
  margin-left: 0;
  width: 240px;
}
