<section class="module">
  <div class="module-header module-header-margin users-list-header">
    <h2 class="module-title"
        [translate]="'user-management.userTable.header.title'"></h2>
    <div class="module-options">
      <input class="input-field filtering"
             [(ngModel)]="userNameFilter"
             (ngModelChange)="onFilterChange($event)"
             placeholder="{{ 'user-management.userTable.header.search.placeholder' | translate}}">
    </div>
  </div>
  <div class="module-content">
    <app-pageable-dynamic-table
            *ngIf="usersLoaded$ | async"
            class="user-table"
            (loading)="loading($event)"
            [provider]="userTableDataProvider"
            [rowCountPerPage]="8"
            [rowCountPerPageOptions]="[8, 15, 30]"
            [translatePrefix]="'user-management.userList'">
    </app-pageable-dynamic-table>
  </div>
</section>



