<div class="inline-chips-list__container" (mouseenter)="setHovered(true)"
     (mouseleave)="setHovered(false)">
  <mat-chip-list cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <ng-content></ng-content>
  </mat-chip-list>
  <p class="wrapped-chips-counter mat-caption" *ngIf="wrappedChips">
    +{{wrappedChips}}
  </p>
</div>
<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="trigger"
             [cdkConnectedOverlayHasBackdrop]="false"
             cdkConnectedOverlayPanelClass="overlay-transitive"
             [cdkConnectedOverlayOpen]="hovered">
  <mat-card [style.pointer-events]="'none'">
    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngFor="let value of values">{{value}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>

</ng-template>
