<div class="audit-trail__content">
  <ng-container *ngIf="inProgress && !error">
    <app-state [stateContent]="stateInProgress"></app-state>
    <button 
      matStepperPrevious 
      mat-stroked-button 
      color="primary"
      (click)="abortClicked()"
    >
      <span [translate]="'auditTrail.inProgress.button'"></span>
    </button>
  </ng-container>
  <ng-container *ngIf="error">
    <app-state [stateContent]="stateTimeout"></app-state>
    <button matStepperPrevious mat-flat-button color="primary">
      <span [translate]="'auditTrail.errorTimeout.button'"></span>
    </button>
  </ng-container>
</div>
