$-height-list-horizontal-elements: add-px-to-value(grid-value(4));

%-list-horizontal-elements {
  height: $-height-list-horizontal-elements;
  line-height: $-height-list-horizontal-elements;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;

  & > * {
    display: inline-block;
    margin-right: $space-between-related-elements;

    &:last-child {
      margin-right: 0;
    }
  }
}

// Styles for horizontal elements list
// Please use only the following styles in other component styles

%list-horizontal-elements-from-left {
  @extend %-list-horizontal-elements;
}

%list-horizontal-elements-from-right {
  @extend %-list-horizontal-elements;
  text-align: right;
}

