### Various ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.DS_Store
*.bak
*.orig

### jenv ###
.java-version

### IntelliJ IDEA ###
out/
*.iws
*.iml
*.ipr
.attach_pid*

### Gradle ###
build/
/.gradle/

### Docker ###
/.env
/.idea/

### DATA ###
docs/api/sierra-prod-examples/*
