input {
  &.input-field {
    padding: $space-s - 2px $space-m - 2px;
  }
}

.input-field {
  @include transition(all, $transition-fast, ease-in-out);
  background: $-color-white;
  border: $border-outline;
  border-radius: $space-s;
  display: block;
  height: $height-of-interactive-elements;
  margin-right: 2px;
  position: relative;
  width: 100%;

  &:focus,
  &:hover {
    border-color: $color-action-border;
    box-shadow: 0 0 4px 0 $color-action-border;
  }

  &.error {
    border-color: $color-feedback-error-border;

    &:hover,
    &:focus {
      &:hover,
      &:focus {
        border-color: $color-feedback-error-border;
        box-shadow: 0 0 4px 0 $color-feedback-error-border;
      }
    }
  }

  &.disabled {
    &,
    &:hover {
      background: $color-disabled-background;
      border-color: $color-disabled-label;
      box-shadow: none;
      color: $color-disabled-label;
      cursor: not-allowed;
    }
  }

  &::placeholder {
    color: $color-typography-tertiary;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $color-typography-tertiary;
  }

  &::-ms-input-placeholder {
    color: $color-typography-tertiary;
  }
}
