@import '_old-main';
@import '_old/variables';
@import "../../../../styles/_old/framework/1-load/colors";
@import "../../../../styles/_old/framework/3-foundations/colors";

.user-profile {
  .user-profile-row {
    margin-bottom: 24px;
  }

  .user-profile-section {
    display: flex;

    .user-profile-section-label {
      width: 140px;
      margin-right: 24px;
      text-align: right;
      line-height: 36px;
      font-weight: 700;
      font-size: 14px;

      &.optional {
        &:after {
          content: ' (opt.)';
          color: $color-typography-tertiary !important;
          font-style: italic;
          font-weight: 400;
        }
      }
    }

    .user-profile-section-content {
      flex: 1;
      display: flex;
      flex-direction: column;

      & > *:first-child {
        margin-bottom: 8px;
      }

      .user-profile-section-content-main {
        line-height: 36px;
      }

      .user-profile-section-content-hint {
        margin-top: 2px;
        font-size: 12px;
        color: $color-text-secondary;
      }
    }
  }

  .role-validation-info {
    color: $color-typography-info;
  }

  .user-profile-role {
    margin-top: 6px;
    margin-bottom: 12px;

    .user-profile-section-content-hint {
      margin-top: 4px !important;
    }

    .role-checkbox {
      display: block;
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .role-checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border-radius: 4px;
      border: 2px solid #cccccc;
    }

    /* On mouse-over, add a grey background color */
    .role-checkbox:hover input ~ .checkmark {
      border: 2px solid #999999;
    }

    .role-checkbox:hover input ~ .checkmark:after {
      border-color: #999999;
    }

    /* When the checkbox is checked, add a blue background */
    .role-checkbox input:checked ~ .checkmark {
      border: 2px solid #2196F3;
    }

    .role-checkbox input:checked ~ .checkmark:after,
    .role-checkbox input:checked:hover ~ .checkmark:after{
      border-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .role-checkbox input:checked ~ .checkmark:after,
    .role-checkbox input:hover ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .role-checkbox .checkmark:after {
      left: 5px;
      top: 2px;
      width: 6px;
      height: 10px;
      border: solid #2196F3;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      border-radius: 2px;
    }
  }

  .user-password-reset-row {
    span {
      line-height: 36px;
    }
  }
}



