<app-feedback-message
        class="error margin-bottom-m"
        [class.is-active]="userForm.hasError('entityProcessingError')"
        [message]="userProfilePrefix + 'validation.generalValidationError'"></app-feedback-message>
<app-feedback-message
        class="error margin-bottom-m"
        [class.is-active]="userForm.hasError('insufficientStorage')"
        [message]="userProfilePrefix + 'validation.insufficientStorage'"></app-feedback-message>
<app-feedback-message
        class="error margin-bottom-m"
        [class.is-active]="userForm.hasError('unauthorized')"
        [message]="userProfilePrefix + 'validation.unauthorized'"></app-feedback-message>
<app-feedback-message
        class="error margin-bottom-m"
        [class.is-active]="userForm.hasError('notFound')"
        [message]="userProfilePrefix + 'validation.notFound'"></app-feedback-message>
<form [formGroup]="userForm" class="user-profile">
  <section class="user-profile-section user-profile-row " *ngIf="editProfile">
    <label class="user-profile-section-label"
           [translate]="userProfilePrefix + 'username.label'"></label>
    <div class="user-profile-section-content">
      <div class="user-profile-section-content-main">
        <input type="text" class="disabled input-field"
               placeholder="{{userData.userName}}"
               disabled/>
      </div>
    </div>
  </section>
  <section class="user-profile-section user-profile-row " *ngIf="!editProfile">
    <label class="user-profile-section-label"
           [translate]="userProfilePrefix + 'username.label'"></label>
    <div class="user-profile-section-content">
      <div class="user-profile-section-content-main">
        <input type="text" class="input-field"
               formControlName="userName"
               placeholder="{{ userProfilePrefix + 'username.input.placeholder' | translate }}"
               (keyup)="isUsernameUnique(username.value)"
               #username/>
      </div>
      <app-validation-feedback
              [content]="userProfilePrefix + 'username.validation.unique'"
              [active]="username.value"
              [type]="!hasError('notUnique','userName') ? 'positive' : 'negative'"></app-validation-feedback>
      <app-validation-feedback
              [content]="userProfilePrefix + 'username.validation.length'"
              [active]="username.value"
              [type]="username.value.length <= 30 && username.value.length >= 3 ? 'positive' : 'negative'"></app-validation-feedback>
      <app-validation-feedback
              [content]="userProfilePrefix + 'username.validation.characters'"
              [active]="username.value"
              [type]="!hasError('usernameCharacters', 'userName') ? 'positive' : 'negative'"></app-validation-feedback>
    </div>
  </section>
  <section class="user-profile-section user-profile-row ">
    <label class="user-profile-section-label optional"
           [translate]="userProfilePrefix + 'displayName.label'"></label>
    <div class="user-profile-section-content">
      <div class="user-profile-section-content-main">
        <input type="text" class="input-field" formControlName="displayName"
               placeholder="{{ userProfilePrefix + 'displayName.input.placeholder' | translate }}"
               #displayName/>
      </div>
      <app-validation-feedback
              [content]="userProfilePrefix + 'displayName.validation.length'"
              [active]="displayName.value"
              [type]="displayName.value.length <= 50 && displayName.value.length >= 3 ? 'positive' : 'negative'"></app-validation-feedback>
    </div>
  </section>
  <section class="user-profile-section user-profile-row" *ngIf="!editProfile">
    <label class="user-profile-section-label"
           [translate]="userProfilePrefix + 'password.label'"></label>
    <div class="user-profile-section-content">
      <input type="password" class="input-field" formControlName="password"
             placeholder="{{ userProfilePrefix + 'password.input.placeholder' | translate }}"
             #password/>
      <app-validation-feedback
              [content]="userProfilePrefix + 'password.validation.length.minLength'"
              [active]="password.value"
              [type]="!hasError('minlength', 'password') ? 'positive' : 'negative'"></app-validation-feedback>
      <app-validation-feedback
              [content]="userProfilePrefix + 'password.validation.letter'"
              [active]="password.value"
              [type]="!hasError('minOneLetter', 'password') ? 'positive' : 'negative'"></app-validation-feedback>
      <app-validation-feedback
              [content]="userProfilePrefix + 'password.validation.digit'"
              [active]="password.value"
              [type]="!hasError('minOneDigit', 'password') ? 'positive' : 'negative'"></app-validation-feedback>
    </div>
  </section>
  <section class="user-profile-section user-profile-row user-password-reset-row" *ngIf="editProfile">
    <label class="user-profile-section-label"
           [translate]="userProfilePrefix + 'password.temporaryPassword'"></label>
    <button
            class="button-outline"
            *ngIf="!resetPasswordInProgress && !temporaryPassword"
            (click)="onResetPassword(userForm.controls.userName.value)"
    >
      Reset password
    </button>
    <span
            *ngIf="resetPasswordInProgress"
            [translate]="'usersManagement.userProfile.content.password.popup.loading'">
    </span>
    <span
            *ngIf="temporaryPassword && !resetPasswordInProgress"
            [innerHTML]="'usersManagement.userProfile.content.password.popup.newPassword' | translate: {user: userForm.controls.userName.value, password: temporaryPassword}">
    </span>
  </section>
  <section formGroupName="roles" class="user-profile-section">
    <label class="user-profile-section-label optional"
           [translate]="userProfilePrefix + 'role.label'"></label>
    <div class="user-profile-section-content">
      <ng-container *ngFor="let role of rolesControls.controls; let i = index;">
        <section class="user-profile-role" [hidden]="adminChecked && i !== adminCheckboxIndex">
          <label class="role-checkbox" [for]="userRoles.roles[i].role">
            <span [translate]="userProfilePrefix + 'role.roles.' + userRoles.roles[i].label + '.label'"></span>
            <input type="checkbox" [id]="userRoles.roles[i].role" [formControlName]="i" (change)="checkBoxChanged()">
            <span class="checkmark"></span>
          </label>
          <p class="user-profile-section-content-hint"
             [translate]="userProfilePrefix + 'role.roles.' + userRoles.roles[i].label + '.hint'"></p>
        </section>
      </ng-container>
      <!--<span class="role-validation-info"
            *ngIf="hasError('selectRole', 'roles') && !userForm.controls.roles.untouched"
            [translate]="userProfilePrefix + 'role.validation.atLeastOneRole'"></span>-->
    </div>
  </section>
</form>
