<app-feedback-message
        class="error margin-bottom-m"
        [class.is-active]="userForm.hasError('entityProcessingError')"
        [message]="userProfilePrefix + 'validation.generalValidationError'"></app-feedback-message>
<app-feedback-message
        class="error margin-bottom-m"
        [class.is-active]="userForm.hasError('insufficientStorage')"
        [message]="userProfilePrefix + 'validation.insufficientStorage'"></app-feedback-message>
<form [formGroup]="userForm" class="user-profile">
  <section class="user-profile-section user-profile-row " *ngIf="!editProfile">
    <label class="user-profile-section-label"
          [translate]="userProfilePrefix + 'username.label'"></label>
    <div class="user-profile-section-content">
      <div class="user-profile-section-content-main">
        <input type="text" class="input-field"
              formControlName="userName"
              placeholder="{{ userProfilePrefix + 'username.input.placeholder' | translate }}"
              (keyup)="isUsernameUnique(username.value)"
              #username/>
      </div>
      <app-validation-feedback
              [content]="userProfilePrefix + 'username.validation.unique'"
              [active]="username.value"
              [type]="!hasError('notUnique','userName') ? 'positive' : 'negative'"></app-validation-feedback>
      <app-validation-feedback
              [content]="userProfilePrefix + 'username.validation.length'"
              [active]="username.value && username.value.length >= 3"
              [type]="username.value.length <= 30 ? 'positive' : 'negative'"></app-validation-feedback>
      <app-validation-feedback
              [content]="userProfilePrefix + 'username.validation.characters'"
              [active]="username.value"
              [type]="!hasError('usernameCharacters', 'userName') ? 'positive' : 'negative'"></app-validation-feedback>
    </div>
  </section>
  <section class="user-profile-section user-profile-row ">
    <label class="user-profile-section-label optional"
           [translate]="userProfilePrefix + 'displayName.label'"></label>
    <div class="user-profile-section-content">
      <div class="user-profile-section-content-main">
        <input type="text" class="input-field" formControlName="displayName"
               placeholder="{{ userProfilePrefix + 'displayName.input.placeholder' | translate }}"
               #displayName/>
      </div>
      <app-validation-feedback
              [content]="userProfilePrefix + 'displayName.validation.length'"
              [active]="displayName.value && displayName.value.length >= 3"
              [type]="displayName.value.length <= 50 ? 'positive' : 'negative'"></app-validation-feedback>
    </div>
  </section>
  <section class="user-profile-section user-profile-row" *ngIf="!editProfile">
    <label class="user-profile-section-label"
           [translate]="userProfilePrefix + 'password.label'"></label>
    <div class="user-profile-section-content">
      <input type="password" class="input-field" formControlName="password"
             placeholder="{{ userProfilePrefix + 'password.input.placeholder' | translate }}"
             #password/>
      <app-validation-feedback
              [content]="userProfilePrefix + 'password.validation.length.minLength'"
              [active]="password.value && !hasError('minlength', 'password')"
              [type]="'positive'"></app-validation-feedback>
      <app-validation-feedback
              [content]="userProfilePrefix + 'password.validation.letter'"
              [active]="password.value && !hasError('minOneLetter', 'password')"
              [type]="'positive'"></app-validation-feedback>
      <app-validation-feedback
              [content]="userProfilePrefix + 'password.validation.digit'"
              [active]="password.value && !hasError('minOneDigit', 'password')"
              [type]="'positive'"></app-validation-feedback>
    </div>
  </section>
  <section formGroupName="roles" class="user-profile-section">
    <label class="user-profile-section-label optional"
           [translate]="userProfilePrefix + 'role.label'"></label>
    <div class="user-profile-section-content">
      <ng-container *ngFor="let role of rolesControls.controls; let i = index">
        <section class="user-profile-role">
          <label class="role-checkbox" [for]="userRoles.roles[i].role">
            <span [translate]="userProfilePrefix + 'role.roles.' + userRoles.roles[i].label + '.label'"></span>
            <input type="checkbox" [id]="userRoles.roles[i].role" [formControlName]="i" (change)="checkBoxChanged()">
            <span class="checkmark"></span>
          </label>
          <p class="user-profile-section-content-hint"
             [translate]="userProfilePrefix + 'role.roles.' + userRoles.roles[i].label + '.hint'"></p>
        </section>
      </ng-container>
      <!--<span class="role-validation-info"
            *ngIf="hasError('selectRole', 'roles') && !userForm.controls.roles.untouched"
            [translate]="userProfilePrefix + 'role.validation.atLeastOneRole'"></span>-->
    </div>
  </section>
</form>
