.input-conditions {
  @extend %list-vertical-text;

  margin-top: add-px-to-value(grid-value(1));

  & > * {
    padding-left: $space-between-close-related-elements;
  }

  .input-conditions-fulfilled {
    .input-conditions-label {
      @extend %-typography-body-text;

      color: $color-typography-positive;
    }
  }

  .input-conditions-unfulfilled {
    .input-conditions-label {
      @extend %-typography-body-text;

      color: $color-typography-inactive;
    }
  }
}
