<header class="page-header">
  <div class="page-header-content">
    <h1 class="page-name"
        [translate]="'approver.title'"></h1>
    <div class="page-options">
    </div>
  </div>
</header>

<section class="module section-page">
  <div class="module-content module-content-margin-top">
    <app-overlay [class.is-active]="changelogIsOpen() | async"></app-overlay>
    <div class="popup-window"
         [class.is-active]="changelogIsOpen() | async">
      <div class="popup-window-header">
        <h1 class="popup-window-title"
            [translate]="'decisionTree.branchTable.data.changelog.title'">
        </h1>
      </div>
      <perfect-scrollbar>
        <div class="popup-window-content">
          <app-changelog
                  *ngIf="changelogIsOpen() | async"
                  [decisionTreeId]="(getChangelog() | async).decisionTreeId"
                  [matchGroupId]="(getChangelog() | async).matchGroupId">
          </app-changelog>
        </div>
      </perfect-scrollbar>
      <section class="popup-window-footer">
        <button class="button-outline "
                (click)="closeChangelog()"
                [translate]="'decisionTree.branchTable.data.changelog.buttonClose'">
        </button>
      </section>
    </div>

    <ng-container *ngIf="!(changesApprovalPanelIsOpen() | async); else approveSelected">

      <div class="selected-elements-panel"
           [class.is-active]="getSelectedApprovalsCount()">
        <div class="selected-elements-panel-count">
          <p>{{ getSelectedApprovalsCount() }} Selected items</p>
        </div>
        <div class="selected-elements-panel-options">
          <button class="button-outline"
                  (click)="openChangesRejectPanel()"
                  [translate]="'approver.rejectButton'">
          </button>
          <button class="button-action"
                  (click)="openChangesApprovalPanel()"
                  [translate]="'approver.approveButton'">
          </button>
        </div>
      </div>

      <app-changes-selectable-table
              [tablePageLoader]="getTablePageLoader()"
              (openChangelog)="openChangelog($event)"
              [selectedApprovalsStore]="getSelectedApprovalsStore()">
      </app-changes-selectable-table>
    </ng-container>
    <ng-template #approveSelected>
      <app-loading [class.is-active]="(getApprovalChangesQueue()| async).isLoading ||
(getChangesApprovalPanel() | async).isLoading">
      </app-loading>
      <app-approver-panel></app-approver-panel>
    </ng-template>

  </div>
</section>
