// Description
// Lorem ipsum

// Internal styles

$hint-feedback-status-width: add-px-to-value(grid-value(1));

%hint-feedback-status {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: $hint-feedback-status-width;
}

// Styles for dropdown
// Please use only the following styles in other component styles

.hint-feedback {
  @extend %card-on-surface;
  @extend %shape-level-2;
  margin: $space-grid-gap 0;
  overflow: hidden;

  & .hint-feedback-status-positive {
    @extend %hint-feedback-status;
    background: $color-feedback-positive;
  }

  & .hint-feedback-status-info {
    @extend %hint-feedback-status;
    background: $color-feedback-information;
  }

  & .hint-feedback-status-warning {
    @extend %hint-feedback-status;
    background: $color-feedback-warning;
  }

  & .hint-feedback-status-negative {
    @extend %hint-feedback-status;
    background: $color-feedback-negative;
  }

  .hint-feedback-content {
    margin-left: $hint-feedback-status-width;
    padding: $space-internal-content-margin;

    & > * {
      margin-bottom: $space-between-related-text-rows;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & > .hint-feedback-content-header {
      @extend %element-header;

      .hint-feedback-content-header-title {
        @extend %typography-element-label;
      }
    }

    & > .hint-feedback-content-description-primary {
      @extend %-typography-body-text;
      color: $color-typography-secondary;
    }

    & > .hint-feedback-content-description-secondary {
      @extend %-typography-body-text;
      color: $color-typography-tertiary;
    }

    & > .hint-feedback-content-elements-list {
      @extend %list-vertical-text-bullets;
    }

    & > .hint-feedback-content-footer {
      @extend %list-horizontal-elements-from-right;
    }
  }
}
